@theme inline reference {
  --shadow-*: initial;
  --color-*: initial;
  --ease-*: initial;
  --font-weight-*: initial;
  --background-color-*: initial;
  --border-color-*: initial;
  --text-color-*: initial;
  --fill-*: initial;
  --stroke-*: initial;
  --outline-color-*: initial;
  --border-width-*: initial;
  --radius-*: initial;
  --outline-offset-*: initial;
  --outline-width-*: initial;
  --breakpoint-*: initial;
  --font-*: initial;
  --shadow-none: 0px 0px 0px 0px var(--vs-color-transparent);
  --shadow-inset: var(--vs-box-shadow-inset);
  --shadow-resting-xsmall: var(--vs-box-shadow-resting-xsmall);
  --shadow-resting-small: var(--vs-box-shadow-resting-small);
  --shadow-resting-medium: var(--vs-box-shadow-resting-medium);
  --shadow-floating-small: var(--vs-box-shadow-floating-small);
  --shadow-floating-medium: var(--vs-box-shadow-floating-medium);
  --shadow-floating-large: var(--vs-box-shadow-floating-large);
  --shadow-floating-xlarge: var(--vs-box-shadow-floating-xlarge);
  --shadow-floating-legacy: var(--vs-box-shadow-floating-legacy);
  --shadow-thin: inset 0px 0px 0px var(--vs-border-width-thin) transparent;
  --shadow-thick: inset 0px 0px 0px var(--vs-border-width-thick) transparent;
  --shadow-thicker: inset 0px 0px 0px var(--vs-border-width-thicker) transparent;
  --color-black: var(--vs-color-black);
  --color-inset: var(--vs-color-inset);
  --color-transparent: var(--vs-color-transparent);
  --color-white: var(--vs-color-white);
  --color-neutral-0: var(--vs-color-neutral-0);
  --color-neutral-1: var(--vs-color-neutral-1);
  --color-neutral-2: var(--vs-color-neutral-2);
  --color-neutral-3: var(--vs-color-neutral-3);
  --color-neutral-4: var(--vs-color-neutral-4);
  --color-neutral-5: var(--vs-color-neutral-5);
  --color-neutral-6: var(--vs-color-neutral-6);
  --color-neutral-7: var(--vs-color-neutral-7);
  --color-neutral-8: var(--vs-color-neutral-8);
  --color-neutral-9: var(--vs-color-neutral-9);
  --color-neutral-10: var(--vs-color-neutral-10);
  --color-neutral-11: var(--vs-color-neutral-11);
  --color-neutral-12: var(--vs-color-neutral-12);
  --color-neutral-13: var(--vs-color-neutral-13);
  --color-blue-0: var(--vs-color-blue-0);
  --color-blue-1: var(--vs-color-blue-1);
  --color-blue-2: var(--vs-color-blue-2);
  --color-blue-3: var(--vs-color-blue-3);
  --color-blue-4: var(--vs-color-blue-4);
  --color-blue-5: var(--vs-color-blue-5);
  --color-blue-6: var(--vs-color-blue-6);
  --color-blue-7: var(--vs-color-blue-7);
  --color-blue-8: var(--vs-color-blue-8);
  --color-blue-9: var(--vs-color-blue-9);
  --color-green-0: var(--vs-color-green-0);
  --color-green-1: var(--vs-color-green-1);
  --color-green-2: var(--vs-color-green-2);
  --color-green-3: var(--vs-color-green-3);
  --color-green-4: var(--vs-color-green-4);
  --color-green-5: var(--vs-color-green-5);
  --color-green-6: var(--vs-color-green-6);
  --color-green-7: var(--vs-color-green-7);
  --color-green-8: var(--vs-color-green-8);
  --color-green-9: var(--vs-color-green-9);
  --color-yellow-0: var(--vs-color-yellow-0);
  --color-yellow-1: var(--vs-color-yellow-1);
  --color-yellow-2: var(--vs-color-yellow-2);
  --color-yellow-3: var(--vs-color-yellow-3);
  --color-yellow-4: var(--vs-color-yellow-4);
  --color-yellow-5: var(--vs-color-yellow-5);
  --color-yellow-6: var(--vs-color-yellow-6);
  --color-yellow-7: var(--vs-color-yellow-7);
  --color-yellow-8: var(--vs-color-yellow-8);
  --color-yellow-9: var(--vs-color-yellow-9);
  --color-orange-0: var(--vs-color-orange-0);
  --color-orange-1: var(--vs-color-orange-1);
  --color-orange-2: var(--vs-color-orange-2);
  --color-orange-3: var(--vs-color-orange-3);
  --color-orange-4: var(--vs-color-orange-4);
  --color-orange-5: var(--vs-color-orange-5);
  --color-orange-6: var(--vs-color-orange-6);
  --color-orange-7: var(--vs-color-orange-7);
  --color-orange-8: var(--vs-color-orange-8);
  --color-orange-9: var(--vs-color-orange-9);
  --color-red-0: var(--vs-color-red-0);
  --color-red-1: var(--vs-color-red-1);
  --color-red-2: var(--vs-color-red-2);
  --color-red-3: var(--vs-color-red-3);
  --color-red-4: var(--vs-color-red-4);
  --color-red-5: var(--vs-color-red-5);
  --color-red-6: var(--vs-color-red-6);
  --color-red-7: var(--vs-color-red-7);
  --color-red-8: var(--vs-color-red-8);
  --color-red-9: var(--vs-color-red-9);
  --color-purple-0: var(--vs-color-purple-0);
  --color-purple-1: var(--vs-color-purple-1);
  --color-purple-2: var(--vs-color-purple-2);
  --color-purple-3: var(--vs-color-purple-3);
  --color-purple-4: var(--vs-color-purple-4);
  --color-purple-5: var(--vs-color-purple-5);
  --color-purple-6: var(--vs-color-purple-6);
  --color-purple-7: var(--vs-color-purple-7);
  --color-purple-8: var(--vs-color-purple-8);
  --color-purple-9: var(--vs-color-purple-9);
  --color-pink-0: var(--vs-color-pink-0);
  --color-pink-1: var(--vs-color-pink-1);
  --color-pink-2: var(--vs-color-pink-2);
  --color-pink-3: var(--vs-color-pink-3);
  --color-pink-4: var(--vs-color-pink-4);
  --color-pink-5: var(--vs-color-pink-5);
  --color-pink-6: var(--vs-color-pink-6);
  --color-pink-7: var(--vs-color-pink-7);
  --color-pink-8: var(--vs-color-pink-8);
  --color-pink-9: var(--vs-color-pink-9);
  --color-coral-0: var(--vs-color-coral-0);
  --color-coral-1: var(--vs-color-coral-1);
  --color-coral-2: var(--vs-color-coral-2);
  --color-coral-3: var(--vs-color-coral-3);
  --color-coral-4: var(--vs-color-coral-4);
  --color-coral-5: var(--vs-color-coral-5);
  --color-coral-6: var(--vs-color-coral-6);
  --color-coral-7: var(--vs-color-coral-7);
  --color-coral-8: var(--vs-color-coral-8);
  --color-coral-9: var(--vs-color-coral-9);
  --color-display-gray-0: var(--vs-color-display-gray-0);
  --color-display-gray-1: var(--vs-color-display-gray-1);
  --color-display-gray-2: var(--vs-color-display-gray-2);
  --color-display-gray-3: var(--vs-color-display-gray-3);
  --color-display-gray-4: var(--vs-color-display-gray-4);
  --color-display-gray-5: var(--vs-color-display-gray-5);
  --color-display-gray-6: var(--vs-color-display-gray-6);
  --color-display-gray-7: var(--vs-color-display-gray-7);
  --color-display-gray-8: var(--vs-color-display-gray-8);
  --color-display-gray-9: var(--vs-color-display-gray-9);
  --color-display-auburn-0: var(--vs-color-display-auburn-0);
  --color-display-auburn-1: var(--vs-color-display-auburn-1);
  --color-display-auburn-2: var(--vs-color-display-auburn-2);
  --color-display-auburn-3: var(--vs-color-display-auburn-3);
  --color-display-auburn-4: var(--vs-color-display-auburn-4);
  --color-display-auburn-5: var(--vs-color-display-auburn-5);
  --color-display-auburn-6: var(--vs-color-display-auburn-6);
  --color-display-auburn-7: var(--vs-color-display-auburn-7);
  --color-display-auburn-8: var(--vs-color-display-auburn-8);
  --color-display-auburn-9: var(--vs-color-display-auburn-9);
  --color-display-brown-0: var(--vs-color-display-brown-0);
  --color-display-brown-1: var(--vs-color-display-brown-1);
  --color-display-brown-2: var(--vs-color-display-brown-2);
  --color-display-brown-3: var(--vs-color-display-brown-3);
  --color-display-brown-4: var(--vs-color-display-brown-4);
  --color-display-brown-5: var(--vs-color-display-brown-5);
  --color-display-brown-6: var(--vs-color-display-brown-6);
  --color-display-brown-7: var(--vs-color-display-brown-7);
  --color-display-brown-8: var(--vs-color-display-brown-8);
  --color-display-brown-9: var(--vs-color-display-brown-9);
  --color-display-orange-0: var(--vs-color-display-orange-0);
  --color-display-orange-1: var(--vs-color-display-orange-1);
  --color-display-orange-2: var(--vs-color-display-orange-2);
  --color-display-orange-3: var(--vs-color-display-orange-3);
  --color-display-orange-4: var(--vs-color-display-orange-4);
  --color-display-orange-5: var(--vs-color-display-orange-5);
  --color-display-orange-6: var(--vs-color-display-orange-6);
  --color-display-orange-7: var(--vs-color-display-orange-7);
  --color-display-orange-8: var(--vs-color-display-orange-8);
  --color-display-orange-9: var(--vs-color-display-orange-9);
  --color-display-yellow-0: var(--vs-color-display-yellow-0);
  --color-display-yellow-1: var(--vs-color-display-yellow-1);
  --color-display-yellow-2: var(--vs-color-display-yellow-2);
  --color-display-yellow-3: var(--vs-color-display-yellow-3);
  --color-display-yellow-4: var(--vs-color-display-yellow-4);
  --color-display-yellow-5: var(--vs-color-display-yellow-5);
  --color-display-yellow-6: var(--vs-color-display-yellow-6);
  --color-display-yellow-7: var(--vs-color-display-yellow-7);
  --color-display-yellow-8: var(--vs-color-display-yellow-8);
  --color-display-yellow-9: var(--vs-color-display-yellow-9);
  --color-display-lemon-0: var(--vs-color-display-lemon-0);
  --color-display-lemon-1: var(--vs-color-display-lemon-1);
  --color-display-lemon-2: var(--vs-color-display-lemon-2);
  --color-display-lemon-3: var(--vs-color-display-lemon-3);
  --color-display-lemon-4: var(--vs-color-display-lemon-4);
  --color-display-lemon-5: var(--vs-color-display-lemon-5);
  --color-display-lemon-6: var(--vs-color-display-lemon-6);
  --color-display-lemon-7: var(--vs-color-display-lemon-7);
  --color-display-lemon-8: var(--vs-color-display-lemon-8);
  --color-display-lemon-9: var(--vs-color-display-lemon-9);
  --color-display-olive-0: var(--vs-color-display-olive-0);
  --color-display-olive-1: var(--vs-color-display-olive-1);
  --color-display-olive-2: var(--vs-color-display-olive-2);
  --color-display-olive-3: var(--vs-color-display-olive-3);
  --color-display-olive-4: var(--vs-color-display-olive-4);
  --color-display-olive-5: var(--vs-color-display-olive-5);
  --color-display-olive-6: var(--vs-color-display-olive-6);
  --color-display-olive-7: var(--vs-color-display-olive-7);
  --color-display-olive-8: var(--vs-color-display-olive-8);
  --color-display-olive-9: var(--vs-color-display-olive-9);
  --color-display-lime-0: var(--vs-color-display-lime-0);
  --color-display-lime-1: var(--vs-color-display-lime-1);
  --color-display-lime-2: var(--vs-color-display-lime-2);
  --color-display-lime-3: var(--vs-color-display-lime-3);
  --color-display-lime-4: var(--vs-color-display-lime-4);
  --color-display-lime-5: var(--vs-color-display-lime-5);
  --color-display-lime-6: var(--vs-color-display-lime-6);
  --color-display-lime-7: var(--vs-color-display-lime-7);
  --color-display-lime-8: var(--vs-color-display-lime-8);
  --color-display-lime-9: var(--vs-color-display-lime-9);
  --color-display-green-0: var(--vs-color-display-green-0);
  --color-display-green-1: var(--vs-color-display-green-1);
  --color-display-green-2: var(--vs-color-display-green-2);
  --color-display-green-3: var(--vs-color-display-green-3);
  --color-display-green-4: var(--vs-color-display-green-4);
  --color-display-green-5: var(--vs-color-display-green-5);
  --color-display-green-6: var(--vs-color-display-green-6);
  --color-display-green-7: var(--vs-color-display-green-7);
  --color-display-green-8: var(--vs-color-display-green-8);
  --color-display-green-9: var(--vs-color-display-green-9);
  --color-display-pine-0: var(--vs-color-display-pine-0);
  --color-display-pine-1: var(--vs-color-display-pine-1);
  --color-display-pine-2: var(--vs-color-display-pine-2);
  --color-display-pine-3: var(--vs-color-display-pine-3);
  --color-display-pine-4: var(--vs-color-display-pine-4);
  --color-display-pine-5: var(--vs-color-display-pine-5);
  --color-display-pine-6: var(--vs-color-display-pine-6);
  --color-display-pine-7: var(--vs-color-display-pine-7);
  --color-display-pine-8: var(--vs-color-display-pine-8);
  --color-display-pine-9: var(--vs-color-display-pine-9);
  --color-display-teal-0: var(--vs-color-display-teal-0);
  --color-display-teal-1: var(--vs-color-display-teal-1);
  --color-display-teal-2: var(--vs-color-display-teal-2);
  --color-display-teal-3: var(--vs-color-display-teal-3);
  --color-display-teal-4: var(--vs-color-display-teal-4);
  --color-display-teal-5: var(--vs-color-display-teal-5);
  --color-display-teal-6: var(--vs-color-display-teal-6);
  --color-display-teal-7: var(--vs-color-display-teal-7);
  --color-display-teal-8: var(--vs-color-display-teal-8);
  --color-display-teal-9: var(--vs-color-display-teal-9);
  --color-display-cyan-0: var(--vs-color-display-cyan-0);
  --color-display-cyan-1: var(--vs-color-display-cyan-1);
  --color-display-cyan-2: var(--vs-color-display-cyan-2);
  --color-display-cyan-3: var(--vs-color-display-cyan-3);
  --color-display-cyan-4: var(--vs-color-display-cyan-4);
  --color-display-cyan-5: var(--vs-color-display-cyan-5);
  --color-display-cyan-6: var(--vs-color-display-cyan-6);
  --color-display-cyan-7: var(--vs-color-display-cyan-7);
  --color-display-cyan-8: var(--vs-color-display-cyan-8);
  --color-display-cyan-9: var(--vs-color-display-cyan-9);
  --color-display-blue-0: var(--vs-color-display-blue-0);
  --color-display-blue-1: var(--vs-color-display-blue-1);
  --color-display-blue-2: var(--vs-color-display-blue-2);
  --color-display-blue-3: var(--vs-color-display-blue-3);
  --color-display-blue-4: var(--vs-color-display-blue-4);
  --color-display-blue-5: var(--vs-color-display-blue-5);
  --color-display-blue-6: var(--vs-color-display-blue-6);
  --color-display-blue-7: var(--vs-color-display-blue-7);
  --color-display-blue-8: var(--vs-color-display-blue-8);
  --color-display-blue-9: var(--vs-color-display-blue-9);
  --color-display-indigo-0: var(--vs-color-display-indigo-0);
  --color-display-indigo-1: var(--vs-color-display-indigo-1);
  --color-display-indigo-2: var(--vs-color-display-indigo-2);
  --color-display-indigo-3: var(--vs-color-display-indigo-3);
  --color-display-indigo-4: var(--vs-color-display-indigo-4);
  --color-display-indigo-5: var(--vs-color-display-indigo-5);
  --color-display-indigo-6: var(--vs-color-display-indigo-6);
  --color-display-indigo-7: var(--vs-color-display-indigo-7);
  --color-display-indigo-8: var(--vs-color-display-indigo-8);
  --color-display-indigo-9: var(--vs-color-display-indigo-9);
  --color-display-purple-0: var(--vs-color-display-purple-0);
  --color-display-purple-1: var(--vs-color-display-purple-1);
  --color-display-purple-2: var(--vs-color-display-purple-2);
  --color-display-purple-3: var(--vs-color-display-purple-3);
  --color-display-purple-4: var(--vs-color-display-purple-4);
  --color-display-purple-5: var(--vs-color-display-purple-5);
  --color-display-purple-6: var(--vs-color-display-purple-6);
  --color-display-purple-7: var(--vs-color-display-purple-7);
  --color-display-purple-8: var(--vs-color-display-purple-8);
  --color-display-purple-9: var(--vs-color-display-purple-9);
  --color-display-plum-0: var(--vs-color-display-plum-0);
  --color-display-plum-1: var(--vs-color-display-plum-1);
  --color-display-plum-2: var(--vs-color-display-plum-2);
  --color-display-plum-3: var(--vs-color-display-plum-3);
  --color-display-plum-4: var(--vs-color-display-plum-4);
  --color-display-plum-5: var(--vs-color-display-plum-5);
  --color-display-plum-6: var(--vs-color-display-plum-6);
  --color-display-plum-7: var(--vs-color-display-plum-7);
  --color-display-plum-8: var(--vs-color-display-plum-8);
  --color-display-plum-9: var(--vs-color-display-plum-9);
  --color-display-pink-0: var(--vs-color-display-pink-0);
  --color-display-pink-1: var(--vs-color-display-pink-1);
  --color-display-pink-2: var(--vs-color-display-pink-2);
  --color-display-pink-3: var(--vs-color-display-pink-3);
  --color-display-pink-4: var(--vs-color-display-pink-4);
  --color-display-pink-5: var(--vs-color-display-pink-5);
  --color-display-pink-6: var(--vs-color-display-pink-6);
  --color-display-pink-7: var(--vs-color-display-pink-7);
  --color-display-pink-8: var(--vs-color-display-pink-8);
  --color-display-pink-9: var(--vs-color-display-pink-9);
  --color-display-red-0: var(--vs-color-display-red-0);
  --color-display-red-1: var(--vs-color-display-red-1);
  --color-display-red-2: var(--vs-color-display-red-2);
  --color-display-red-3: var(--vs-color-display-red-3);
  --color-display-red-4: var(--vs-color-display-red-4);
  --color-display-red-5: var(--vs-color-display-red-5);
  --color-display-red-6: var(--vs-color-display-red-6);
  --color-display-red-7: var(--vs-color-display-red-7);
  --color-display-red-8: var(--vs-color-display-red-8);
  --color-display-red-9: var(--vs-color-display-red-9);
  --color-display-coral-0: var(--vs-color-display-coral-0);
  --color-display-coral-1: var(--vs-color-display-coral-1);
  --color-display-coral-2: var(--vs-color-display-coral-2);
  --color-display-coral-3: var(--vs-color-display-coral-3);
  --color-display-coral-4: var(--vs-color-display-coral-4);
  --color-display-coral-5: var(--vs-color-display-coral-5);
  --color-display-coral-6: var(--vs-color-display-coral-6);
  --color-display-coral-7: var(--vs-color-display-coral-7);
  --color-display-coral-8: var(--vs-color-display-coral-8);
  --color-display-coral-9: var(--vs-color-display-coral-9);
  --color-display-black: var(--vs-color-display-black);
  --color-display-white: var(--vs-color-display-white);
  --ease-linear: cubic-bezier(0, 0, 1, 1);
  --ease-ease-in: cubic-bezier(0.7, 0.1, 0.75, 0.9);
  --ease-ease-out: cubic-bezier(0.3, 0.8, 0.6, 1);
  --ease-ease-in-out: cubic-bezier(0.6, 0, 0.2, 1);
  --transition-duration-0: 0ms;
  --transition-duration-50: 50ms;
  --transition-duration-100: 100ms;
  --transition-duration-200: 200ms;
  --transition-duration-300: 300ms;
  --transition-duration-400: 400ms;
  --transition-duration-500: 500ms;
  --transition-duration-600: 600ms;
  --transition-duration-700: 700ms;
  --transition-duration-800: 800ms;
  --transition-duration-900: 900ms;
  --transition-duration-1000: 1000ms;
  --spacing-0: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-112: 112px;
  --spacing-128: 128px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --background-color-default: var(--vs-background-color-default);
  --background-color-muted: var(--vs-background-color-muted);
  --background-color-inset: var(--vs-background-color-inset);
  --background-color-emphasis: var(--vs-background-color-emphasis);
  --background-color-inverse: var(--vs-background-color-inverse);
  --background-color-white: var(--vs-background-color-white);
  --background-color-black: var(--vs-background-color-black);
  --background-color-disabled: var(--vs-background-color-disabled);
  --background-color-transparent: var(--vs-color-transparent);
  --background-color-neutral-muted: var(--vs-background-color-neutral-muted);
  --background-color-neutral-emphasis: var(--vs-background-color-neutral-emphasis);
  --background-color-accent-muted: var(--vs-background-color-accent-muted);
  --background-color-accent-emphasis: var(--vs-background-color-accent-emphasis);
  --background-color-success-muted: var(--vs-background-color-success-muted);
  --background-color-success-emphasis: var(--vs-background-color-success-emphasis);
  --background-color-open-muted: var(--vs-background-color-open-muted);
  --background-color-open-emphasis: var(--vs-background-color-open-emphasis);
  --background-color-attention-muted: var(--vs-background-color-attention-muted);
  --background-color-attention-emphasis: var(--vs-background-color-attention-emphasis);
  --background-color-severe-muted: var(--vs-background-color-severe-muted);
  --background-color-severe-emphasis: var(--vs-background-color-severe-emphasis);
  --background-color-danger-muted: var(--vs-background-color-danger-muted);
  --background-color-danger-emphasis: var(--vs-background-color-danger-emphasis);
  --background-color-closed-muted: var(--vs-background-color-closed-muted);
  --background-color-closed-emphasis: var(--vs-background-color-closed-emphasis);
  --background-color-done-muted: var(--vs-background-color-done-muted);
  --background-color-done-emphasis: var(--vs-background-color-done-emphasis);
  --background-color-upsell-muted: var(--vs-background-color-done-muted);
  --background-color-upsell-emphasis: var(--vs-background-color-done-emphasis);
  --background-color-sponsors-muted: var(--vs-background-color-sponsors-muted);
  --background-color-sponsors-emphasis: var(--vs-background-color-sponsors-emphasis);
  --background-color-selection: var(--vs-background-color-selection);
  --border-color-default: var(--vs-border-color-default);
  --border-color-muted: var(--vs-border-color-muted);
  --border-color-emphasis: var(--vs-border-color-emphasis);
  --border-color-disabled: var(--vs-border-color-disabled);
  --border-color-transparent: var(--vs-color-transparent);
  --border-color-translucent: var(--vs-border-color-translucent);
  --border-color-neutral-muted: var(--vs-border-color-neutral-muted);
  --border-color-neutral-emphasis: var(--vs-border-color-neutral-emphasis);
  --border-color-accent-muted: var(--vs-border-color-accent-muted);
  --border-color-accent-emphasis: var(--vs-border-color-accent-emphasis);
  --border-color-success-muted: var(--vs-border-color-success-muted);
  --border-color-success-emphasis: var(--vs-border-color-success-emphasis);
  --border-color-open-muted: var(--vs-border-color-open-muted);
  --border-color-open-emphasis: var(--vs-border-color-open-emphasis);
  --border-color-attention-muted: var(--vs-border-color-attention-muted);
  --border-color-attention-emphasis: var(--vs-border-color-attention-emphasis);
  --border-color-severe-muted: var(--vs-border-color-severe-muted);
  --border-color-severe-emphasis: var(--vs-border-color-severe-emphasis);
  --border-color-danger-muted: var(--vs-border-color-danger-muted);
  --border-color-danger-emphasis: var(--vs-border-color-danger-emphasis);
  --border-color-closed-muted: var(--vs-border-color-closed-muted);
  --border-color-closed-emphasis: var(--vs-border-color-closed-emphasis);
  --border-color-done-muted: var(--vs-border-color-done-muted);
  --border-color-done-emphasis: var(--vs-border-color-done-emphasis);
  --border-color-upsell-muted: var(--vs-border-color-done-muted);
  --border-color-upsell-emphasis: var(--vs-border-color-done-emphasis);
  --border-color-sponsors-muted: var(--vs-border-color-sponsors-muted);
  --border-color-sponsors-emphasis: var(--vs-border-color-sponsors-emphasis);
  --text-color-default: var(--vs-text-color-default);
  --text-color-muted: var(--vs-text-color-muted);
  --text-color-on-emphasis: var(--vs-text-color-on-emphasis);
  --text-color-on-inverse: var(--vs-color-neutral-0);
  --text-color-white: var(--vs-text-color-white);
  --text-color-black: var(--vs-text-color-black);
  --text-color-disabled: var(--vs-text-color-disabled);
  --text-color-link: var(--vs-text-color-accent);
  --text-color-neutral: var(--vs-text-color-neutral);
  --text-color-accent: var(--vs-text-color-accent);
  --text-color-success: var(--vs-text-color-success);
  --text-color-open: var(--vs-text-color-open);
  --text-color-attention: var(--vs-text-color-attention);
  --text-color-severe: var(--vs-text-color-severe);
  --text-color-danger: var(--vs-text-color-danger);
  --text-color-closed: var(--vs-text-color-closed);
  --text-color-done: var(--vs-text-color-done);
  --text-color-upsell: var(--vs-text-color-done);
  --text-color-sponsors: var(--vs-text-color-sponsors);
  --fill-default: var(--vs-icon-color-default);
  --stroke-default: var(--vs-icon-color-default);
  --fill-muted: var(--vs-icon-color-muted);
  --stroke-muted: var(--vs-icon-color-muted);
  --fill-on-emphasis: var(--vs-icon-color-on-emphasis);
  --stroke-on-emphasis: var(--vs-icon-color-on-emphasis);
  --fill-on-inverse: var(--vs-color-neutral-0);
  --stroke-on-inverse: var(--vs-color-neutral-0);
  --fill-white: var(--vs-icon-color-white);
  --stroke-white: var(--vs-icon-color-white);
  --fill-black: var(--vs-icon-color-black);
  --stroke-black: var(--vs-icon-color-black);
  --fill-disabled: var(--vs-icon-color-disabled);
  --stroke-disabled: var(--vs-icon-color-disabled);
  --fill-link: var(--vs-text-color-accent);
  --stroke-link: var(--vs-text-color-accent);
  --fill-neutral: var(--vs-icon-color-neutral);
  --stroke-neutral: var(--vs-icon-color-neutral);
  --fill-accent: var(--vs-icon-color-accent);
  --stroke-accent: var(--vs-icon-color-accent);
  --fill-success: var(--vs-icon-color-success);
  --stroke-success: var(--vs-icon-color-success);
  --fill-open: var(--vs-icon-color-open);
  --stroke-open: var(--vs-icon-color-open);
  --fill-attention: var(--vs-icon-color-attention);
  --stroke-attention: var(--vs-icon-color-attention);
  --fill-severe: var(--vs-icon-color-severe);
  --stroke-severe: var(--vs-icon-color-severe);
  --fill-danger: var(--vs-icon-color-danger);
  --stroke-danger: var(--vs-icon-color-danger);
  --fill-closed: var(--vs-icon-color-closed);
  --stroke-closed: var(--vs-icon-color-closed);
  --fill-done: var(--vs-icon-color-done);
  --stroke-done: var(--vs-icon-color-done);
  --fill-upsell: var(--vs-text-color-done);
  --stroke-upsell: var(--vs-text-color-done);
  --fill-sponsors: var(--vs-icon-color-sponsors);
  --stroke-sponsors: var(--vs-icon-color-sponsors);
  --outline-color-focus: var(--vs-border-color-accent-emphasis);
  --border-width-default: var(--vs-border-width-thin);
  --border-width-thin: 1px;
  --border-width-thick: 2px;
  --border-width-thicker: 4px;
  --radius-small: 3px;
  --radius-medium: 6px;
  --radius-large: 12px;
  --radius-full: 9999px;
  --radius-default: var(--vs-border-radius-medium);
  --outline-offset-focus: -2px;
  --outline-width-focus: 2px;
  --breakpoint-xsmall: 320px;
  --breakpoint-small: 544px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1012px;
  --breakpoint-xlarge: 1280px;
  --breakpoint-xxlarge: 1400px;
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-sans-serif-display: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, "Liberation Mono", monospace;
}
