@theme inline reference {
  --color-*: initial;
  --breakpoint-*: initial;
  --font-*: initial;
  --text-*: initial;
  --font-weight-*: initial;
  --tracking-*: initial;
  --leading-*: initial;
  --radius-*: initial;
  --spacing-*: initial;
  --border-width-*: initial;
  --ease-*: initial;
  --background-color-*: initial;
  --text-color-*: initial;
  --border-color-*: initial;
  --fill-*: initial;
  --stroke-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #00000000;
  --color-black-alpha-1: var(--vs-color-black-alpha-1);
  --color-black-alpha-2: var(--vs-color-black-alpha-2);
  --color-black-alpha-3: var(--vs-color-black-alpha-3);
  --color-black-alpha-4: var(--vs-color-black-alpha-4);
  --color-black-alpha-5: var(--vs-color-black-alpha-5);
  --color-black-alpha-6: var(--vs-color-black-alpha-6);
  --color-black-alpha-7: var(--vs-color-black-alpha-7);
  --color-black-alpha-8: var(--vs-color-black-alpha-8);
  --color-black-alpha-9: var(--vs-color-black-alpha-9);
  --color-black-alpha-10: var(--vs-color-black-alpha-10);
  --color-black-alpha-11: var(--vs-color-black-alpha-11);
  --color-black-alpha-12: var(--vs-color-black-alpha-12);
  --color-blue-1: var(--vs-color-blue-1);
  --color-blue-2: var(--vs-color-blue-2);
  --color-blue-3: var(--vs-color-blue-3);
  --color-blue-4: var(--vs-color-blue-4);
  --color-blue-5: var(--vs-color-blue-5);
  --color-blue-6: var(--vs-color-blue-6);
  --color-blue-7: var(--vs-color-blue-7);
  --color-blue-8: var(--vs-color-blue-8);
  --color-blue-9: var(--vs-color-blue-9);
  --color-blue-10: var(--vs-color-blue-10);
  --color-blue-11: var(--vs-color-blue-11);
  --color-blue-12: var(--vs-color-blue-12);
  --color-gray-1: var(--vs-color-gray-1);
  --color-gray-2: var(--vs-color-gray-2);
  --color-gray-3: var(--vs-color-gray-3);
  --color-gray-4: var(--vs-color-gray-4);
  --color-gray-5: var(--vs-color-gray-5);
  --color-gray-6: var(--vs-color-gray-6);
  --color-gray-7: var(--vs-color-gray-7);
  --color-gray-8: var(--vs-color-gray-8);
  --color-gray-9: var(--vs-color-gray-9);
  --color-gray-10: var(--vs-color-gray-10);
  --color-gray-11: var(--vs-color-gray-11);
  --color-gray-12: var(--vs-color-gray-12);
  --color-red-1: var(--vs-color-red-1);
  --color-red-2: var(--vs-color-red-2);
  --color-red-3: var(--vs-color-red-3);
  --color-red-4: var(--vs-color-red-4);
  --color-red-5: var(--vs-color-red-5);
  --color-red-6: var(--vs-color-red-6);
  --color-red-7: var(--vs-color-red-7);
  --color-red-8: var(--vs-color-red-8);
  --color-red-9: var(--vs-color-red-9);
  --color-red-10: var(--vs-color-red-10);
  --color-red-11: var(--vs-color-red-11);
  --color-red-12: var(--vs-color-red-12);
  --color-white-alpha-1: var(--vs-color-white-alpha-1);
  --color-white-alpha-2: var(--vs-color-white-alpha-2);
  --color-white-alpha-3: var(--vs-color-white-alpha-3);
  --color-white-alpha-4: var(--vs-color-white-alpha-4);
  --color-white-alpha-5: var(--vs-color-white-alpha-5);
  --color-white-alpha-6: var(--vs-color-white-alpha-6);
  --color-white-alpha-7: var(--vs-color-white-alpha-7);
  --color-white-alpha-8: var(--vs-color-white-alpha-8);
  --color-white-alpha-9: var(--vs-color-white-alpha-9);
  --color-white-alpha-10: var(--vs-color-white-alpha-10);
  --color-white-alpha-11: var(--vs-color-white-alpha-11);
  --color-white-alpha-12: var(--vs-color-white-alpha-12);
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, georgia, cambria, "Times New Roman", times, serif;
  --font-mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --spacing-0: 0px;
  --spacing-1: 0.25rem;
  --spacing-2: calc(var(--vs-space-1) * 2);
  --spacing-3: calc(var(--vs-space-1) * 3);
  --spacing-4: calc(var(--vs-space-1) * 4);
  --spacing-5: calc(var(--vs-space-1) * 5);
  --spacing-6: calc(var(--vs-space-1) * 6);
  --spacing-7: calc(var(--vs-space-1) * 7);
  --spacing-8: calc(var(--vs-space-1) * 8);
  --spacing-9: calc(var(--vs-space-1) * 9);
  --spacing-10: calc(var(--vs-space-1) * 10);
  --opacity-0: 0;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-100: 1;
  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;
  --ease-linear: cubic-bezier(0, 0, 1, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --background-color-backdrop: var(--vs-color-black-alpha-9);
  --background-color-static-black-10: var(--vs-color-black-alpha-3);
  --background-color-static-black-20: var(--vs-color-black-alpha-4);
  --background-color-static-black-30: var(--vs-color-black-alpha-5);
  --background-color-static-black-50: var(--vs-color-black-alpha-11);
  --background-color-static-black-60: var(--vs-color-black-alpha-12);
  --background-color-static-black-70: var(--vs-color-black);
  --background-color-danger-surface: var(--vs-color-red-1);
  --background-color-danger-component: var(--vs-color-red-9);
  --background-color-neutral-surface: var(--vs-color-white);
  --background-color-neutral-component: var(--vs-background-color-static-black-50);
  --background-color-static-white-10: var(--vs-color-white-alpha-4);
  --background-color-static-white-20: var(--vs-color-white-alpha-5);
  --background-color-static-white-30: var(--vs-color-white-alpha-6);
  --background-color-static-white-50: var(--vs-color-white-alpha-11);
  --background-color-static-white-60: var(--vs-color-white-alpha-12);
  --background-color-static-white-70: var(--vs-color-white);
  --text-color-static-black-50: var(--vs-color-black-alpha-8);
  --text-color-static-black-80: var(--vs-color-black-alpha-10);
  --text-color-static-black-90: var(--vs-color-black-alpha-12);
  --text-color-static-black-on-bold-50: var(--vs-text-color-static-white-50);
  --text-color-static-black-on-bold-80: var(--vs-text-color-static-white-80);
  --text-color-static-black-on-bold-90: var(--vs-text-color-static-white-90);
  --text-color-danger-muted: var(--vs-color-red-7);
  --text-color-danger-primary: var(--vs-color-red-11);
  --text-color-danger-on-bold-muted: var(--vs-text-color-static-white-50);
  --text-color-danger-on-bold-primary: var(--vs-text-color-static-white-90);
  --text-color-neutral-muted: var(--vs-color-black-alpha-7);
  --text-color-neutral-primary: var(--vs-color-black-alpha-11);
  --text-color-neutral-on-bold-muted: var(--vs-text-color-static-white-50);
  --text-color-neutral-on-bold-primary: var(--vs-text-color-static-white-90);
  --text-color-static-white-50: var(--vs-color-white-alpha-8);
  --text-color-static-white-80: var(--vs-color-white-alpha-10);
  --text-color-static-white-90: var(--vs-color-white-alpha-12);
  --text-color-static-white-on-bold-50: var(--vs-text-color-static-black-50);
  --text-color-static-white-on-bold-80: var(--vs-text-color-static-black-80);
  --text-color-static-white-on-bold-90: var(--vs-text-color-static-black-90);
  --border-color-static-black-5: var(--vs-color-black-alpha-3);
  --border-color-static-black-10: var(--vs-color-black-alpha-4);
  --border-color-static-black-20: var(--vs-color-black-alpha-5);
  --border-color-static-black-30: var(--vs-color-black-alpha-6);
  --border-color-danger: var(--vs-color-red-12);
  --border-color-neutral: var(--vs-color-gray-12);
  --border-color-static-white-5: var(--vs-color-white-alpha-6);
  --border-color-static-white-10: var(--vs-color-white-alpha-7);
  --border-color-static-white-20: var(--vs-color-white-alpha-8);
  --border-color-static-white-30: var(--vs-color-white-alpha-9);
  --fill-static-black-50: var(--vs-color-black-alpha-6);
  --stroke-static-black-50: var(--vs-color-black-alpha-6);
  --fill-static-black-80: var(--vs-color-black-alpha-8);
  --stroke-static-black-80: var(--vs-color-black-alpha-8);
  --fill-static-black-90: var(--vs-color-black-alpha-10);
  --stroke-static-black-90: var(--vs-color-black-alpha-10);
  --fill-static-black-on-bold-50: var(--vs-icon-color-static-white-50);
  --stroke-static-black-on-bold-50: var(--vs-icon-color-static-white-50);
  --fill-static-black-on-bold-80: var(--vs-icon-color-static-white-80);
  --stroke-static-black-on-bold-80: var(--vs-icon-color-static-white-80);
  --fill-static-black-on-bold-90: var(--vs-icon-color-static-white-90);
  --stroke-static-black-on-bold-90: var(--vs-icon-color-static-white-90);
  --fill-danger-muted: var(--vs-color-red-5);
  --stroke-danger-muted: var(--vs-color-red-5);
  --fill-danger-primary: var(--vs-color-red-9);
  --stroke-danger-primary: var(--vs-color-red-9);
  --fill-danger-on-bold-muted: var(--vs-icon-color-static-white-50);
  --stroke-danger-on-bold-muted: var(--vs-icon-color-static-white-50);
  --fill-danger-on-bold-primary: var(--vs-icon-color-static-white-90);
  --stroke-danger-on-bold-primary: var(--vs-icon-color-static-white-90);
  --fill-neutral-muted: var(--vs-color-black-alpha-5);
  --stroke-neutral-muted: var(--vs-color-black-alpha-5);
  --fill-neutral-primary: var(--vs-color-black-alpha-9);
  --stroke-neutral-primary: var(--vs-color-black-alpha-9);
  --fill-neutral-on-bold-muted: var(--vs-icon-color-static-white-50);
  --stroke-neutral-on-bold-muted: var(--vs-icon-color-static-white-50);
  --fill-neutral-on-bold-primary: var(--vs-icon-color-static-white-90);
  --stroke-neutral-on-bold-primary: var(--vs-icon-color-static-white-90);
  --fill-static-white-50: var(--vs-color-white-alpha-6);
  --stroke-static-white-50: var(--vs-color-white-alpha-6);
  --fill-static-white-80: var(--vs-color-white-alpha-8);
  --stroke-static-white-80: var(--vs-color-white-alpha-8);
  --fill-static-white-90: var(--vs-color-white-alpha-10);
  --stroke-static-white-90: var(--vs-color-white-alpha-10);
  --fill-static-white-on-bold-50: var(--vs-icon-color-static-black-50);
  --stroke-static-white-on-bold-50: var(--vs-icon-color-static-black-50);
  --fill-static-white-on-bold-80: var(--vs-icon-color-static-black-80);
  --stroke-static-white-on-bold-80: var(--vs-icon-color-static-black-80);
  --fill-static-white-on-bold-90: var(--vs-icon-color-static-black-90);
  --stroke-static-white-on-bold-90: var(--vs-icon-color-static-black-90);
}
