@media (color-gamut: p3) {
  :root {
    --vs-color-black-alpha-1: oklch(0 0 0 / 0.05);
    --vs-color-black-alpha-2: oklch(0 0 0 / 0.1);
    --vs-color-black-alpha-3: oklch(0 0 0 / 0.15);
    --vs-color-black-alpha-4: oklch(0 0 0 / 0.2);
    --vs-color-black-alpha-5: oklch(0 0 0 / 0.3);
    --vs-color-black-alpha-6: oklch(0 0 0 / 0.4);
    --vs-color-black-alpha-7: oklch(0 0 0 / 0.5);
    --vs-color-black-alpha-8: oklch(0 0 0 / 0.6);
    --vs-color-black-alpha-9: oklch(0 0 0 / 0.7);
    --vs-color-black-alpha-10: oklch(0 0 0 / 0.8);
    --vs-color-black-alpha-11: oklch(0 0 0 / 0.9);
    --vs-color-black-alpha-12: oklch(0 0 0 / 0.95);
    --vs-color-blue-1: oklch(0.9932 0.0033 247.6436);
    --vs-color-blue-2: oklch(0.9815 0.0096 243.2578);
    --vs-color-blue-3: oklch(0.96 0.0199 236.7126);
    --vs-color-blue-4: oklch(0.9373 0.0371 239.0266);
    --vs-color-blue-5: oklch(0.906 0.0535 242.8032);
    --vs-color-blue-6: oklch(0.8638 0.0686 243.1817);
    --vs-color-blue-7: oklch(0.8092 0.0884 243.3396);
    --vs-color-blue-8: oklch(0.7348 0.1211 242.9952);
    --vs-color-blue-9: oklch(0.6493 0.193 251.8132);
    --vs-color-blue-10: oklch(0.6211 0.1837 251.9175);
    --vs-color-blue-11: oklch(0.5577 0.1889 253.0097);
    --vs-color-blue-12: oklch(0.324 0.0965 258.9556);
    --vs-color-gray-1: oklch(0.9909 0 0);
    --vs-color-gray-2: oklch(0.981 0 0);
    --vs-color-gray-3: oklch(0.9535 0 0);
    --vs-color-gray-4: oklch(0.9296 0 167.4712);
    --vs-color-gray-5: oklch(0.9079 0 180);
    --vs-color-gray-6: oklch(0.8838 0 192.5288);
    --vs-color-gray-7: oklch(0.8508 0 213.6901);
    --vs-color-gray-8: oklch(0.791 0 189.4623);
    --vs-color-gray-9: oklch(0.6435 0 0);
    --vs-color-gray-10: oklch(0.6085 0 0);
    --vs-color-gray-11: oklch(0.5031 0 187.125);
    --vs-color-gray-12: oklch(0.243 0 186.7098);
    --vs-color-red-1: oklch(0.9935 0.0031 22.7531);
    --vs-color-red-2: oklch(0.9832 0.0083 16.0248);
    --vs-color-red-3: oklch(0.9561 0.021 16.2276);
    --vs-color-red-4: oklch(0.9281 0.0473 16.6823);
    --vs-color-red-5: oklch(0.8961 0.062 17.3285);
    --vs-color-red-6: oklch(0.857 0.0746 17.8679);
    --vs-color-red-7: oklch(0.8072 0.0895 18.4449);
    --vs-color-red-8: oklch(0.745 0.1133 19.0891);
    --vs-color-red-9: oklch(0.6254 0.1935 22.9827);
    --vs-color-red-10: oklch(0.5999 0.1952 23.8895);
    --vs-color-red-11: oklch(0.5572 0.1978 25.1349);
    --vs-color-red-12: oklch(0.3391 0.109 16.6806);
    --vs-color-white-alpha-1: oklch(1 0 180 / 0.05);
    --vs-color-white-alpha-2: oklch(1 0 180 / 0.1);
    --vs-color-white-alpha-3: oklch(1 0 180 / 0.15);
    --vs-color-white-alpha-4: oklch(1 0 180 / 0.2);
    --vs-color-white-alpha-5: oklch(1 0 180 / 0.3);
    --vs-color-white-alpha-6: oklch(1 0 180 / 0.4);
    --vs-color-white-alpha-7: oklch(1 0 180 / 0.5);
    --vs-color-white-alpha-8: oklch(1 0 180 / 0.6);
    --vs-color-white-alpha-9: oklch(1 0 180 / 0.7);
    --vs-color-white-alpha-10: oklch(1 0 180 / 0.8);
    --vs-color-white-alpha-11: oklch(1 0 180 / 0.9);
    --vs-color-white-alpha-12: oklch(1 0 180 / 0.95);
  }
}
