@theme inline reference {
  --radius-*: initial;
  --border-width-*: initial;
  --outline-color-*: initial;
  --outline-width-*: initial;
  --outline-offset-*: initial;
  --text-decoration-color-*: initial;
  --text-decoration-thickness-*: initial;
  --text-underline-offset-*: initial;
  --shadow-*: initial;
  --color-*: initial;
  --ease-*: initial;
  --breakpoint-*: initial;
  --spacing-*: initial;
  --font-*: initial;
  --text-*: initial;
  --font-weight-*: initial;
  --leading-*: initial;
  --tracking-*: initial;
  --text-color-*: initial;
  --background-color-*: initial;
  --border-color-*: initial;
  --fill-*: initial;
  --stroke-*: initial;
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 9999px;
  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;
  --border-width-8: 8px;
  --outline-color-accent-5: var(--vs-outline-color-accent-5);
  --outline-color-accent-10: var(--vs-outline-color-accent-10);
  --outline-color-accent-20: var(--vs-outline-color-accent-20);
  --outline-color-accent-30: var(--vs-outline-color-accent-30);
  --outline-color-static-black-5: var(--vs-color-black-alpha-3);
  --outline-color-static-black-10: var(--vs-color-black-alpha-4);
  --outline-color-static-black-20: var(--vs-color-black-alpha-5);
  --outline-color-static-black-30: var(--vs-color-black-alpha-6);
  --outline-color-caution-5: var(--vs-outline-color-caution-5);
  --outline-color-caution-10: var(--vs-outline-color-caution-10);
  --outline-color-caution-20: var(--vs-outline-color-caution-20);
  --outline-color-caution-30: var(--vs-outline-color-caution-30);
  --outline-color-critical-5: var(--vs-outline-color-critical-5);
  --outline-color-critical-10: var(--vs-outline-color-critical-10);
  --outline-color-critical-20: var(--vs-outline-color-critical-20);
  --outline-color-critical-30: var(--vs-outline-color-critical-30);
  --outline-color-informative-5: var(--vs-outline-color-informative-5);
  --outline-color-informative-10: var(--vs-outline-color-informative-10);
  --outline-color-informative-20: var(--vs-outline-color-informative-20);
  --outline-color-informative-30: var(--vs-outline-color-informative-30);
  --outline-color-neutral-5: var(--vs-outline-color-neutral-5);
  --outline-color-neutral-10: var(--vs-outline-color-neutral-10);
  --outline-color-neutral-20: var(--vs-outline-color-neutral-20);
  --outline-color-neutral-30: var(--vs-outline-color-neutral-30);
  --outline-color-success-5: var(--vs-outline-color-success-5);
  --outline-color-success-10: var(--vs-outline-color-success-10);
  --outline-color-success-20: var(--vs-outline-color-success-20);
  --outline-color-success-30: var(--vs-outline-color-success-30);
  --outline-color-high-contrast-base: CanvasText;
  --outline-color-high-contrast-muted: GrayText;
  --outline-color-high-contrast-highlight: Highlight;
  --outline-color-high-contrast-button: ButtonBorder;
  --outline-color-high-contrast-button-primary: ButtonText;
  --outline-color-static-white-5: var(--vs-color-white-alpha-6);
  --outline-color-static-white-10: var(--vs-color-white-alpha-7);
  --outline-color-static-white-20: var(--vs-color-white-alpha-8);
  --outline-color-static-white-30: var(--vs-color-white-alpha-9);
  --outline-width-0: 0px;
  --outline-width-1: 1px;
  --outline-width-2: 2px;
  --outline-width-3: 3px;
  --outline-width-4: 4px;
  --outline-width-8: 8px;
  --outline-offset-0: 0px;
  --outline-offset-1: 1px;
  --outline-offset-2: 2px;
  --text-decoration-color-accent-5: var(--vs-text-decoration-color-accent-5);
  --text-decoration-color-accent-10: var(--vs-text-decoration-color-accent-10);
  --text-decoration-color-accent-20: var(--vs-text-decoration-color-accent-20);
  --text-decoration-color-accent-30: var(--vs-text-decoration-color-accent-30);
  --text-decoration-color-static-black-5: var(--vs-color-black-alpha-3);
  --text-decoration-color-static-black-10: var(--vs-color-black-alpha-4);
  --text-decoration-color-static-black-20: var(--vs-color-black-alpha-5);
  --text-decoration-color-static-black-30: var(--vs-color-black-alpha-6);
  --text-decoration-color-caution-5: var(--vs-text-decoration-color-caution-5);
  --text-decoration-color-caution-10: var(--vs-text-decoration-color-caution-10);
  --text-decoration-color-caution-20: var(--vs-text-decoration-color-caution-20);
  --text-decoration-color-caution-30: var(--vs-text-decoration-color-caution-30);
  --text-decoration-color-critical-5: var(--vs-text-decoration-color-critical-5);
  --text-decoration-color-critical-10: var(--vs-text-decoration-color-critical-10);
  --text-decoration-color-critical-20: var(--vs-text-decoration-color-critical-20);
  --text-decoration-color-critical-30: var(--vs-text-decoration-color-critical-30);
  --text-decoration-color-informative-5: var(--vs-text-decoration-color-informative-5);
  --text-decoration-color-informative-10: var(--vs-text-decoration-color-informative-10);
  --text-decoration-color-informative-20: var(--vs-text-decoration-color-informative-20);
  --text-decoration-color-informative-30: var(--vs-text-decoration-color-informative-30);
  --text-decoration-color-neutral-5: var(--vs-text-decoration-color-neutral-5);
  --text-decoration-color-neutral-10: var(--vs-text-decoration-color-neutral-10);
  --text-decoration-color-neutral-20: var(--vs-text-decoration-color-neutral-20);
  --text-decoration-color-neutral-30: var(--vs-text-decoration-color-neutral-30);
  --text-decoration-color-success-5: var(--vs-text-decoration-color-success-5);
  --text-decoration-color-success-10: var(--vs-text-decoration-color-success-10);
  --text-decoration-color-success-20: var(--vs-text-decoration-color-success-20);
  --text-decoration-color-success-30: var(--vs-text-decoration-color-success-30);
  --text-decoration-color-high-contrast-base: CanvasText;
  --text-decoration-color-high-contrast-muted: GrayText;
  --text-decoration-color-high-contrast-highlight: Highlight;
  --text-decoration-color-high-contrast-button: ButtonBorder;
  --text-decoration-color-high-contrast-button-primary: ButtonText;
  --text-decoration-color-static-white-5: var(--vs-color-white-alpha-6);
  --text-decoration-color-static-white-10: var(--vs-color-white-alpha-7);
  --text-decoration-color-static-white-20: var(--vs-color-white-alpha-8);
  --text-decoration-color-static-white-30: var(--vs-color-white-alpha-9);
  --text-decoration-thickness-0: 0px;
  --text-decoration-thickness-1: 1px;
  --text-decoration-thickness-2: 2px;
  --text-decoration-thickness-3: 3px;
  --text-decoration-thickness-4: 4px;
  --text-decoration-thickness-8: 8px;
  --text-underline-offset-0: 0px;
  --text-underline-offset-1: 1px;
  --text-underline-offset-2: 2px;
  --shadow-default: 0px 3px 6px 0px #00000021, 0px 1px 2px 0px #00000029;
  --shadow-hover: 0px 5px 12px 0px #0000002b, 0px 1.5px 3px 0px #00000024;
  --shadow-navigation: 0px 7px 18px 0px #00000036, 0px 2px 4px 0px #0000001f;
  --shadow-popover: 0px 9px 24px 0px #00000040, 0px 2.5px 5px 0px #0000001a;
  --shadow-dragged: 0px 11px 30px 0px #0000004a, 0px 3px 6px 0px #00000014;
  --shadow-dialog: 0px 17px 48px 0px #00000069, 0px 4.5px 9px 0px #00000005;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #00000000;
  --color-amber-1: var(--vs-color-amber-1);
  --color-amber-2: var(--vs-color-amber-2);
  --color-amber-3: var(--vs-color-amber-3);
  --color-amber-4: var(--vs-color-amber-4);
  --color-amber-5: var(--vs-color-amber-5);
  --color-amber-6: var(--vs-color-amber-6);
  --color-amber-7: var(--vs-color-amber-7);
  --color-amber-8: var(--vs-color-amber-8);
  --color-amber-9: var(--vs-color-amber-9);
  --color-amber-10: var(--vs-color-amber-10);
  --color-amber-11: var(--vs-color-amber-11);
  --color-amber-12: var(--vs-color-amber-12);
  --color-amber-alpha-1: var(--vs-color-amber-alpha-1);
  --color-amber-alpha-2: var(--vs-color-amber-alpha-2);
  --color-amber-alpha-3: var(--vs-color-amber-alpha-3);
  --color-amber-alpha-4: var(--vs-color-amber-alpha-4);
  --color-amber-alpha-5: var(--vs-color-amber-alpha-5);
  --color-amber-alpha-6: var(--vs-color-amber-alpha-6);
  --color-amber-alpha-7: var(--vs-color-amber-alpha-7);
  --color-amber-alpha-8: var(--vs-color-amber-alpha-8);
  --color-amber-alpha-9: var(--vs-color-amber-alpha-9);
  --color-amber-alpha-10: var(--vs-color-amber-alpha-10);
  --color-amber-alpha-11: var(--vs-color-amber-alpha-11);
  --color-amber-alpha-12: var(--vs-color-amber-alpha-12);
  --color-amber-dark-1: var(--vs-color-amber-dark-1);
  --color-amber-dark-2: var(--vs-color-amber-dark-2);
  --color-amber-dark-3: var(--vs-color-amber-dark-3);
  --color-amber-dark-4: var(--vs-color-amber-dark-4);
  --color-amber-dark-5: var(--vs-color-amber-dark-5);
  --color-amber-dark-6: var(--vs-color-amber-dark-6);
  --color-amber-dark-7: var(--vs-color-amber-dark-7);
  --color-amber-dark-8: var(--vs-color-amber-dark-8);
  --color-amber-dark-9: var(--vs-color-amber-dark-9);
  --color-amber-dark-10: var(--vs-color-amber-dark-10);
  --color-amber-dark-11: var(--vs-color-amber-dark-11);
  --color-amber-dark-12: var(--vs-color-amber-dark-12);
  --color-amber-dark-alpha-1: var(--vs-color-amber-dark-alpha-1);
  --color-amber-dark-alpha-2: var(--vs-color-amber-dark-alpha-2);
  --color-amber-dark-alpha-3: var(--vs-color-amber-dark-alpha-3);
  --color-amber-dark-alpha-4: var(--vs-color-amber-dark-alpha-4);
  --color-amber-dark-alpha-5: var(--vs-color-amber-dark-alpha-5);
  --color-amber-dark-alpha-6: var(--vs-color-amber-dark-alpha-6);
  --color-amber-dark-alpha-7: var(--vs-color-amber-dark-alpha-7);
  --color-amber-dark-alpha-8: var(--vs-color-amber-dark-alpha-8);
  --color-amber-dark-alpha-9: var(--vs-color-amber-dark-alpha-9);
  --color-amber-dark-alpha-10: var(--vs-color-amber-dark-alpha-10);
  --color-amber-dark-alpha-11: var(--vs-color-amber-dark-alpha-11);
  --color-amber-dark-alpha-12: var(--vs-color-amber-dark-alpha-12);
  --color-black-alpha-1: var(--vs-color-black-alpha-1);
  --color-black-alpha-2: var(--vs-color-black-alpha-2);
  --color-black-alpha-3: var(--vs-color-black-alpha-3);
  --color-black-alpha-4: var(--vs-color-black-alpha-4);
  --color-black-alpha-5: var(--vs-color-black-alpha-5);
  --color-black-alpha-6: var(--vs-color-black-alpha-6);
  --color-black-alpha-7: var(--vs-color-black-alpha-7);
  --color-black-alpha-8: var(--vs-color-black-alpha-8);
  --color-black-alpha-9: var(--vs-color-black-alpha-9);
  --color-black-alpha-10: var(--vs-color-black-alpha-10);
  --color-black-alpha-11: var(--vs-color-black-alpha-11);
  --color-black-alpha-12: var(--vs-color-black-alpha-12);
  --color-blue-1: var(--vs-color-blue-1);
  --color-blue-2: var(--vs-color-blue-2);
  --color-blue-3: var(--vs-color-blue-3);
  --color-blue-4: var(--vs-color-blue-4);
  --color-blue-5: var(--vs-color-blue-5);
  --color-blue-6: var(--vs-color-blue-6);
  --color-blue-7: var(--vs-color-blue-7);
  --color-blue-8: var(--vs-color-blue-8);
  --color-blue-9: var(--vs-color-blue-9);
  --color-blue-10: var(--vs-color-blue-10);
  --color-blue-11: var(--vs-color-blue-11);
  --color-blue-12: var(--vs-color-blue-12);
  --color-blue-alpha-1: var(--vs-color-blue-alpha-1);
  --color-blue-alpha-2: var(--vs-color-blue-alpha-2);
  --color-blue-alpha-3: var(--vs-color-blue-alpha-3);
  --color-blue-alpha-4: var(--vs-color-blue-alpha-4);
  --color-blue-alpha-5: var(--vs-color-blue-alpha-5);
  --color-blue-alpha-6: var(--vs-color-blue-alpha-6);
  --color-blue-alpha-7: var(--vs-color-blue-alpha-7);
  --color-blue-alpha-8: var(--vs-color-blue-alpha-8);
  --color-blue-alpha-9: var(--vs-color-blue-alpha-9);
  --color-blue-alpha-10: var(--vs-color-blue-alpha-10);
  --color-blue-alpha-11: var(--vs-color-blue-alpha-11);
  --color-blue-alpha-12: var(--vs-color-blue-alpha-12);
  --color-blue-dark-1: var(--vs-color-blue-dark-1);
  --color-blue-dark-2: var(--vs-color-blue-dark-2);
  --color-blue-dark-3: var(--vs-color-blue-dark-3);
  --color-blue-dark-4: var(--vs-color-blue-dark-4);
  --color-blue-dark-5: var(--vs-color-blue-dark-5);
  --color-blue-dark-6: var(--vs-color-blue-dark-6);
  --color-blue-dark-7: var(--vs-color-blue-dark-7);
  --color-blue-dark-8: var(--vs-color-blue-dark-8);
  --color-blue-dark-9: var(--vs-color-blue-dark-9);
  --color-blue-dark-10: var(--vs-color-blue-dark-10);
  --color-blue-dark-11: var(--vs-color-blue-dark-11);
  --color-blue-dark-12: var(--vs-color-blue-dark-12);
  --color-blue-dark-alpha-1: var(--vs-color-blue-dark-alpha-1);
  --color-blue-dark-alpha-2: var(--vs-color-blue-dark-alpha-2);
  --color-blue-dark-alpha-3: var(--vs-color-blue-dark-alpha-3);
  --color-blue-dark-alpha-4: var(--vs-color-blue-dark-alpha-4);
  --color-blue-dark-alpha-5: var(--vs-color-blue-dark-alpha-5);
  --color-blue-dark-alpha-6: var(--vs-color-blue-dark-alpha-6);
  --color-blue-dark-alpha-7: var(--vs-color-blue-dark-alpha-7);
  --color-blue-dark-alpha-8: var(--vs-color-blue-dark-alpha-8);
  --color-blue-dark-alpha-9: var(--vs-color-blue-dark-alpha-9);
  --color-blue-dark-alpha-10: var(--vs-color-blue-dark-alpha-10);
  --color-blue-dark-alpha-11: var(--vs-color-blue-dark-alpha-11);
  --color-blue-dark-alpha-12: var(--vs-color-blue-dark-alpha-12);
  --color-gray-1: var(--vs-color-gray-1);
  --color-gray-2: var(--vs-color-gray-2);
  --color-gray-3: var(--vs-color-gray-3);
  --color-gray-4: var(--vs-color-gray-4);
  --color-gray-5: var(--vs-color-gray-5);
  --color-gray-6: var(--vs-color-gray-6);
  --color-gray-7: var(--vs-color-gray-7);
  --color-gray-8: var(--vs-color-gray-8);
  --color-gray-9: var(--vs-color-gray-9);
  --color-gray-10: var(--vs-color-gray-10);
  --color-gray-11: var(--vs-color-gray-11);
  --color-gray-12: var(--vs-color-gray-12);
  --color-gray-alpha-1: var(--vs-color-gray-alpha-1);
  --color-gray-alpha-2: var(--vs-color-gray-alpha-2);
  --color-gray-alpha-3: var(--vs-color-gray-alpha-3);
  --color-gray-alpha-4: var(--vs-color-gray-alpha-4);
  --color-gray-alpha-5: var(--vs-color-gray-alpha-5);
  --color-gray-alpha-6: var(--vs-color-gray-alpha-6);
  --color-gray-alpha-7: var(--vs-color-gray-alpha-7);
  --color-gray-alpha-8: var(--vs-color-gray-alpha-8);
  --color-gray-alpha-9: var(--vs-color-gray-alpha-9);
  --color-gray-alpha-10: var(--vs-color-gray-alpha-10);
  --color-gray-alpha-11: var(--vs-color-gray-alpha-11);
  --color-gray-alpha-12: var(--vs-color-gray-alpha-12);
  --color-gray-dark-1: var(--vs-color-gray-dark-1);
  --color-gray-dark-2: var(--vs-color-gray-dark-2);
  --color-gray-dark-3: var(--vs-color-gray-dark-3);
  --color-gray-dark-4: var(--vs-color-gray-dark-4);
  --color-gray-dark-5: var(--vs-color-gray-dark-5);
  --color-gray-dark-6: var(--vs-color-gray-dark-6);
  --color-gray-dark-7: var(--vs-color-gray-dark-7);
  --color-gray-dark-8: var(--vs-color-gray-dark-8);
  --color-gray-dark-9: var(--vs-color-gray-dark-9);
  --color-gray-dark-10: var(--vs-color-gray-dark-10);
  --color-gray-dark-11: var(--vs-color-gray-dark-11);
  --color-gray-dark-12: var(--vs-color-gray-dark-12);
  --color-gray-dark-alpha-1: var(--vs-color-gray-dark-alpha-1);
  --color-gray-dark-alpha-2: var(--vs-color-gray-dark-alpha-2);
  --color-gray-dark-alpha-3: var(--vs-color-gray-dark-alpha-3);
  --color-gray-dark-alpha-4: var(--vs-color-gray-dark-alpha-4);
  --color-gray-dark-alpha-5: var(--vs-color-gray-dark-alpha-5);
  --color-gray-dark-alpha-6: var(--vs-color-gray-dark-alpha-6);
  --color-gray-dark-alpha-7: var(--vs-color-gray-dark-alpha-7);
  --color-gray-dark-alpha-8: var(--vs-color-gray-dark-alpha-8);
  --color-gray-dark-alpha-9: var(--vs-color-gray-dark-alpha-9);
  --color-gray-dark-alpha-10: var(--vs-color-gray-dark-alpha-10);
  --color-gray-dark-alpha-11: var(--vs-color-gray-dark-alpha-11);
  --color-gray-dark-alpha-12: var(--vs-color-gray-dark-alpha-12);
  --color-green-1: var(--vs-color-green-1);
  --color-green-2: var(--vs-color-green-2);
  --color-green-3: var(--vs-color-green-3);
  --color-green-4: var(--vs-color-green-4);
  --color-green-5: var(--vs-color-green-5);
  --color-green-6: var(--vs-color-green-6);
  --color-green-7: var(--vs-color-green-7);
  --color-green-8: var(--vs-color-green-8);
  --color-green-9: var(--vs-color-green-9);
  --color-green-10: var(--vs-color-green-10);
  --color-green-11: var(--vs-color-green-11);
  --color-green-12: var(--vs-color-green-12);
  --color-green-alpha-1: var(--vs-color-green-alpha-1);
  --color-green-alpha-2: var(--vs-color-green-alpha-2);
  --color-green-alpha-3: var(--vs-color-green-alpha-3);
  --color-green-alpha-4: var(--vs-color-green-alpha-4);
  --color-green-alpha-5: var(--vs-color-green-alpha-5);
  --color-green-alpha-6: var(--vs-color-green-alpha-6);
  --color-green-alpha-7: var(--vs-color-green-alpha-7);
  --color-green-alpha-8: var(--vs-color-green-alpha-8);
  --color-green-alpha-9: var(--vs-color-green-alpha-9);
  --color-green-alpha-10: var(--vs-color-green-alpha-10);
  --color-green-alpha-11: var(--vs-color-green-alpha-11);
  --color-green-alpha-12: var(--vs-color-green-alpha-12);
  --color-green-dark-1: var(--vs-color-green-dark-1);
  --color-green-dark-2: var(--vs-color-green-dark-2);
  --color-green-dark-3: var(--vs-color-green-dark-3);
  --color-green-dark-4: var(--vs-color-green-dark-4);
  --color-green-dark-5: var(--vs-color-green-dark-5);
  --color-green-dark-6: var(--vs-color-green-dark-6);
  --color-green-dark-7: var(--vs-color-green-dark-7);
  --color-green-dark-8: var(--vs-color-green-dark-8);
  --color-green-dark-9: var(--vs-color-green-dark-9);
  --color-green-dark-10: var(--vs-color-green-dark-10);
  --color-green-dark-11: var(--vs-color-green-dark-11);
  --color-green-dark-12: var(--vs-color-green-dark-12);
  --color-green-dark-alpha-1: var(--vs-color-green-dark-alpha-1);
  --color-green-dark-alpha-2: var(--vs-color-green-dark-alpha-2);
  --color-green-dark-alpha-3: var(--vs-color-green-dark-alpha-3);
  --color-green-dark-alpha-4: var(--vs-color-green-dark-alpha-4);
  --color-green-dark-alpha-5: var(--vs-color-green-dark-alpha-5);
  --color-green-dark-alpha-6: var(--vs-color-green-dark-alpha-6);
  --color-green-dark-alpha-7: var(--vs-color-green-dark-alpha-7);
  --color-green-dark-alpha-8: var(--vs-color-green-dark-alpha-8);
  --color-green-dark-alpha-9: var(--vs-color-green-dark-alpha-9);
  --color-green-dark-alpha-10: var(--vs-color-green-dark-alpha-10);
  --color-green-dark-alpha-11: var(--vs-color-green-dark-alpha-11);
  --color-green-dark-alpha-12: var(--vs-color-green-dark-alpha-12);
  --color-mauve-1: var(--vs-color-mauve-1);
  --color-mauve-2: var(--vs-color-mauve-2);
  --color-mauve-3: var(--vs-color-mauve-3);
  --color-mauve-4: var(--vs-color-mauve-4);
  --color-mauve-5: var(--vs-color-mauve-5);
  --color-mauve-6: var(--vs-color-mauve-6);
  --color-mauve-7: var(--vs-color-mauve-7);
  --color-mauve-8: var(--vs-color-mauve-8);
  --color-mauve-9: var(--vs-color-mauve-9);
  --color-mauve-10: var(--vs-color-mauve-10);
  --color-mauve-11: var(--vs-color-mauve-11);
  --color-mauve-12: var(--vs-color-mauve-12);
  --color-mauve-alpha-1: var(--vs-color-mauve-alpha-1);
  --color-mauve-alpha-2: var(--vs-color-mauve-alpha-2);
  --color-mauve-alpha-3: var(--vs-color-mauve-alpha-3);
  --color-mauve-alpha-4: var(--vs-color-mauve-alpha-4);
  --color-mauve-alpha-5: var(--vs-color-mauve-alpha-5);
  --color-mauve-alpha-6: var(--vs-color-mauve-alpha-6);
  --color-mauve-alpha-7: var(--vs-color-mauve-alpha-7);
  --color-mauve-alpha-8: var(--vs-color-mauve-alpha-8);
  --color-mauve-alpha-9: var(--vs-color-mauve-alpha-9);
  --color-mauve-alpha-10: var(--vs-color-mauve-alpha-10);
  --color-mauve-alpha-11: var(--vs-color-mauve-alpha-11);
  --color-mauve-alpha-12: var(--vs-color-mauve-alpha-12);
  --color-mauve-dark-1: var(--vs-color-mauve-dark-1);
  --color-mauve-dark-2: var(--vs-color-mauve-dark-2);
  --color-mauve-dark-3: var(--vs-color-mauve-dark-3);
  --color-mauve-dark-4: var(--vs-color-mauve-dark-4);
  --color-mauve-dark-5: var(--vs-color-mauve-dark-5);
  --color-mauve-dark-6: var(--vs-color-mauve-dark-6);
  --color-mauve-dark-7: var(--vs-color-mauve-dark-7);
  --color-mauve-dark-8: var(--vs-color-mauve-dark-8);
  --color-mauve-dark-9: var(--vs-color-mauve-dark-9);
  --color-mauve-dark-10: var(--vs-color-mauve-dark-10);
  --color-mauve-dark-11: var(--vs-color-mauve-dark-11);
  --color-mauve-dark-12: var(--vs-color-mauve-dark-12);
  --color-mauve-dark-alpha-1: var(--vs-color-mauve-dark-alpha-1);
  --color-mauve-dark-alpha-2: var(--vs-color-mauve-dark-alpha-2);
  --color-mauve-dark-alpha-3: var(--vs-color-mauve-dark-alpha-3);
  --color-mauve-dark-alpha-4: var(--vs-color-mauve-dark-alpha-4);
  --color-mauve-dark-alpha-5: var(--vs-color-mauve-dark-alpha-5);
  --color-mauve-dark-alpha-6: var(--vs-color-mauve-dark-alpha-6);
  --color-mauve-dark-alpha-7: var(--vs-color-mauve-dark-alpha-7);
  --color-mauve-dark-alpha-8: var(--vs-color-mauve-dark-alpha-8);
  --color-mauve-dark-alpha-9: var(--vs-color-mauve-dark-alpha-9);
  --color-mauve-dark-alpha-10: var(--vs-color-mauve-dark-alpha-10);
  --color-mauve-dark-alpha-11: var(--vs-color-mauve-dark-alpha-11);
  --color-mauve-dark-alpha-12: var(--vs-color-mauve-dark-alpha-12);
  --color-plum-1: var(--vs-color-plum-1);
  --color-plum-2: var(--vs-color-plum-2);
  --color-plum-3: var(--vs-color-plum-3);
  --color-plum-4: var(--vs-color-plum-4);
  --color-plum-5: var(--vs-color-plum-5);
  --color-plum-6: var(--vs-color-plum-6);
  --color-plum-7: var(--vs-color-plum-7);
  --color-plum-8: var(--vs-color-plum-8);
  --color-plum-9: var(--vs-color-plum-9);
  --color-plum-10: var(--vs-color-plum-10);
  --color-plum-11: var(--vs-color-plum-11);
  --color-plum-12: var(--vs-color-plum-12);
  --color-plum-alpha-1: var(--vs-color-plum-alpha-1);
  --color-plum-alpha-2: var(--vs-color-plum-alpha-2);
  --color-plum-alpha-3: var(--vs-color-plum-alpha-3);
  --color-plum-alpha-4: var(--vs-color-plum-alpha-4);
  --color-plum-alpha-5: var(--vs-color-plum-alpha-5);
  --color-plum-alpha-6: var(--vs-color-plum-alpha-6);
  --color-plum-alpha-7: var(--vs-color-plum-alpha-7);
  --color-plum-alpha-8: var(--vs-color-plum-alpha-8);
  --color-plum-alpha-9: var(--vs-color-plum-alpha-9);
  --color-plum-alpha-10: var(--vs-color-plum-alpha-10);
  --color-plum-alpha-11: var(--vs-color-plum-alpha-11);
  --color-plum-alpha-12: var(--vs-color-plum-alpha-12);
  --color-plum-dark-1: var(--vs-color-plum-dark-1);
  --color-plum-dark-2: var(--vs-color-plum-dark-2);
  --color-plum-dark-3: var(--vs-color-plum-dark-3);
  --color-plum-dark-4: var(--vs-color-plum-dark-4);
  --color-plum-dark-5: var(--vs-color-plum-dark-5);
  --color-plum-dark-6: var(--vs-color-plum-dark-6);
  --color-plum-dark-7: var(--vs-color-plum-dark-7);
  --color-plum-dark-8: var(--vs-color-plum-dark-8);
  --color-plum-dark-9: var(--vs-color-plum-dark-9);
  --color-plum-dark-10: var(--vs-color-plum-dark-10);
  --color-plum-dark-11: var(--vs-color-plum-dark-11);
  --color-plum-dark-12: var(--vs-color-plum-dark-12);
  --color-plum-dark-alpha-1: var(--vs-color-plum-dark-alpha-1);
  --color-plum-dark-alpha-2: var(--vs-color-plum-dark-alpha-2);
  --color-plum-dark-alpha-3: var(--vs-color-plum-dark-alpha-3);
  --color-plum-dark-alpha-4: var(--vs-color-plum-dark-alpha-4);
  --color-plum-dark-alpha-5: var(--vs-color-plum-dark-alpha-5);
  --color-plum-dark-alpha-6: var(--vs-color-plum-dark-alpha-6);
  --color-plum-dark-alpha-7: var(--vs-color-plum-dark-alpha-7);
  --color-plum-dark-alpha-8: var(--vs-color-plum-dark-alpha-8);
  --color-plum-dark-alpha-9: var(--vs-color-plum-dark-alpha-9);
  --color-plum-dark-alpha-10: var(--vs-color-plum-dark-alpha-10);
  --color-plum-dark-alpha-11: var(--vs-color-plum-dark-alpha-11);
  --color-plum-dark-alpha-12: var(--vs-color-plum-dark-alpha-12);
  --color-red-1: var(--vs-color-red-1);
  --color-red-2: var(--vs-color-red-2);
  --color-red-3: var(--vs-color-red-3);
  --color-red-4: var(--vs-color-red-4);
  --color-red-5: var(--vs-color-red-5);
  --color-red-6: var(--vs-color-red-6);
  --color-red-7: var(--vs-color-red-7);
  --color-red-8: var(--vs-color-red-8);
  --color-red-9: var(--vs-color-red-9);
  --color-red-10: var(--vs-color-red-10);
  --color-red-11: var(--vs-color-red-11);
  --color-red-12: var(--vs-color-red-12);
  --color-red-alpha-1: var(--vs-color-red-alpha-1);
  --color-red-alpha-2: var(--vs-color-red-alpha-2);
  --color-red-alpha-3: var(--vs-color-red-alpha-3);
  --color-red-alpha-4: var(--vs-color-red-alpha-4);
  --color-red-alpha-5: var(--vs-color-red-alpha-5);
  --color-red-alpha-6: var(--vs-color-red-alpha-6);
  --color-red-alpha-7: var(--vs-color-red-alpha-7);
  --color-red-alpha-8: var(--vs-color-red-alpha-8);
  --color-red-alpha-9: var(--vs-color-red-alpha-9);
  --color-red-alpha-10: var(--vs-color-red-alpha-10);
  --color-red-alpha-11: var(--vs-color-red-alpha-11);
  --color-red-alpha-12: var(--vs-color-red-alpha-12);
  --color-red-dark-1: var(--vs-color-red-dark-1);
  --color-red-dark-2: var(--vs-color-red-dark-2);
  --color-red-dark-3: var(--vs-color-red-dark-3);
  --color-red-dark-4: var(--vs-color-red-dark-4);
  --color-red-dark-5: var(--vs-color-red-dark-5);
  --color-red-dark-6: var(--vs-color-red-dark-6);
  --color-red-dark-7: var(--vs-color-red-dark-7);
  --color-red-dark-8: var(--vs-color-red-dark-8);
  --color-red-dark-9: var(--vs-color-red-dark-9);
  --color-red-dark-10: var(--vs-color-red-dark-10);
  --color-red-dark-11: var(--vs-color-red-dark-11);
  --color-red-dark-12: var(--vs-color-red-dark-12);
  --color-red-dark-alpha-1: var(--vs-color-red-dark-alpha-1);
  --color-red-dark-alpha-2: var(--vs-color-red-dark-alpha-2);
  --color-red-dark-alpha-3: var(--vs-color-red-dark-alpha-3);
  --color-red-dark-alpha-4: var(--vs-color-red-dark-alpha-4);
  --color-red-dark-alpha-5: var(--vs-color-red-dark-alpha-5);
  --color-red-dark-alpha-6: var(--vs-color-red-dark-alpha-6);
  --color-red-dark-alpha-7: var(--vs-color-red-dark-alpha-7);
  --color-red-dark-alpha-8: var(--vs-color-red-dark-alpha-8);
  --color-red-dark-alpha-9: var(--vs-color-red-dark-alpha-9);
  --color-red-dark-alpha-10: var(--vs-color-red-dark-alpha-10);
  --color-red-dark-alpha-11: var(--vs-color-red-dark-alpha-11);
  --color-red-dark-alpha-12: var(--vs-color-red-dark-alpha-12);
  --color-white-alpha-1: var(--vs-color-white-alpha-1);
  --color-white-alpha-2: var(--vs-color-white-alpha-2);
  --color-white-alpha-3: var(--vs-color-white-alpha-3);
  --color-white-alpha-4: var(--vs-color-white-alpha-4);
  --color-white-alpha-5: var(--vs-color-white-alpha-5);
  --color-white-alpha-6: var(--vs-color-white-alpha-6);
  --color-white-alpha-7: var(--vs-color-white-alpha-7);
  --color-white-alpha-8: var(--vs-color-white-alpha-8);
  --color-white-alpha-9: var(--vs-color-white-alpha-9);
  --color-white-alpha-10: var(--vs-color-white-alpha-10);
  --color-white-alpha-11: var(--vs-color-white-alpha-11);
  --color-white-alpha-12: var(--vs-color-white-alpha-12);
  --z-index-deep: -50;
  --z-index-footer: 50;
  --z-index-header: 100;
  --z-index-popover: 150;
  --z-index-tooltip: 200;
  --z-index-offscreen-menu-backdrop: 249;
  --z-index-offscreen-menu: 250;
  --z-index-dialog: 300;
  --z-index-loading: 350;
  --z-index-toast: 400;
  --z-index-skip-nav: 1000;
  --transition-duration-none: 0ms;
  --transition-duration-short-1: 75ms;
  --transition-duration-short-2: 150ms;
  --transition-duration-medium-1: 200ms;
  --transition-duration-medium-2: 300ms;
  --transition-duration-long-1: 400ms;
  --transition-duration-long-2: 500ms;
  --transition-duration-paused: 2000ms;
  --transition-delay-none: 0ms;
  --transition-delay-spinner-1: 200ms;
  --ease-linear: cubic-bezier(0, 0, 1, 1);
  --ease-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --ease-ease-in: cubic-bezier(0.42, 0, 1, 1);
  --ease-ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --ease-ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --transition-property-colors: color, background-color, border-color, text-decoration-color, fill, stroke;
  --opacity-disabled: 0.4;
  --opacity-read-only: 0.6;
  --opacity-disabled-high-contrast: 1;
  --opacity-read-only-high-contrast: 1;
  --breakpoint-width-xs: 22.5rem;
  --breakpoint-width-sm: 40rem;
  --breakpoint-width-md: 48rem;
  --breakpoint-width-lg: 64rem;
  --breakpoint-width-xl: 80rem;
  --breakpoint-width-2xl: 90rem;
  --breakpoint-width-3xl: 120rem;
  --spacing-icon-xs: 1rem;
  --spacing-icon-sm: 1.25rem;
  --spacing-icon-md: 1.5rem;
  --spacing-icon-lg: 1.75rem;
  --spacing-icon-xl: 2rem;
  --spacing-touch-target-2xs: 2rem;
  --spacing-touch-target-xs: 2.25rem;
  --spacing-touch-target-sm: 2.5rem;
  --spacing-touch-target-md: 2.75rem;
  --spacing-touch-target-lg: 3rem;
  --spacing-touch-target-xl: 3.25rem;
  --spacing-none: 0px;
  --spacing-2xs-px: 4px;
  --spacing-2xs-rem: 0.25rem;
  --spacing-xs-px: 8px;
  --spacing-xs-rem: 0.5rem;
  --spacing-sm-px: 12px;
  --spacing-sm-rem: 0.75rem;
  --spacing-md-px: 16px;
  --spacing-md-rem: 1rem;
  --spacing-lg-px: 24px;
  --spacing-lg-rem: 1.5rem;
  --spacing-xl-px: 32px;
  --spacing-xl-rem: 2rem;
  --spacing-2xl-px: 48px;
  --spacing-2xl-rem: 3rem;
  --spacing-3xl-px: 64px;
  --spacing-3xl-rem: 4rem;
  --spacing-4xl-px: 80px;
  --spacing-4xl-rem: 5rem;
  --spacing-5xl-px: 120px;
  --spacing-5xl-rem: 7.5rem;
  --spacing-6xl-px: 160px;
  --spacing-6xl-rem: 10rem;
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --text-xs: 0.8125rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.1875rem;
  --text-xl: 1.5rem;
  --text-2xl: 2.5rem;
  --text-3xl: 3.75rem;
  --text-4xl: 6rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --leading-xs: 1.125;
  --leading-sm: 1.25;
  --leading-md: 1.5;
  --tracking-small-caps: 0.02em;
  --tracking-all-caps: 0.015em;
  --tracking-xs: 0.01em;
  --tracking-sm: 0.005em;
  --tracking-md: 0em;
  --tracking-lg: -0.005em;
  --tracking-xl: -0.01em;
  --tracking-2xl: -0.02em;
  --tracking-3xl: -0.025em;
  --tracking-4xl: -0.03em;
  --text-color-accent-50: var(--vs-text-color-accent-50);
  --text-color-accent-80: var(--vs-text-color-accent-80);
  --text-color-accent-90: var(--vs-text-color-accent-90);
  --text-color-accent-on-bold-50: var(--vs-text-color-static-white-50);
  --text-color-accent-on-bold-80: var(--vs-text-color-static-white-80);
  --text-color-accent-on-bold-90: var(--vs-text-color-static-white-90);
  --text-color-static-black-50: var(--vs-text-color-static-black-50);
  --text-color-static-black-80: var(--vs-text-color-static-black-80);
  --text-color-static-black-90: var(--vs-text-color-static-black-90);
  --text-color-static-black-on-bold-50: var(--vs-text-color-static-white-50);
  --text-color-static-black-on-bold-80: var(--vs-text-color-static-white-80);
  --text-color-static-black-on-bold-90: var(--vs-text-color-static-white-90);
  --text-color-caution-50: var(--vs-text-color-caution-50);
  --text-color-caution-80: var(--vs-text-color-caution-80);
  --text-color-caution-90: var(--vs-text-color-caution-90);
  --text-color-caution-on-bold-50: var(--vs-text-color-static-black-50);
  --text-color-caution-on-bold-80: var(--vs-text-color-static-black-80);
  --text-color-caution-on-bold-90: var(--vs-text-color-static-black-90);
  --text-color-critical-50: var(--vs-text-color-critical-50);
  --text-color-critical-80: var(--vs-text-color-critical-80);
  --text-color-critical-90: var(--vs-text-color-critical-90);
  --text-color-critical-on-bold-50: var(--vs-text-color-static-white-50);
  --text-color-critical-on-bold-80: var(--vs-text-color-static-white-80);
  --text-color-critical-on-bold-90: var(--vs-text-color-static-white-90);
  --text-color-informative-50: var(--vs-text-color-informative-50);
  --text-color-informative-80: var(--vs-text-color-informative-80);
  --text-color-informative-90: var(--vs-text-color-informative-90);
  --text-color-informative-on-bold-50: var(--vs-text-color-static-white-50);
  --text-color-informative-on-bold-80: var(--vs-text-color-static-white-80);
  --text-color-informative-on-bold-90: var(--vs-text-color-static-white-90);
  --text-color-neutral-50: var(--vs-text-color-neutral-50);
  --text-color-neutral-80: var(--vs-text-color-neutral-80);
  --text-color-neutral-90: var(--vs-text-color-neutral-90);
  --text-color-neutral-on-bold-50: var(--vs-text-color-neutral-on-bold-50);
  --text-color-neutral-on-bold-80: var(--vs-text-color-neutral-on-bold-80);
  --text-color-neutral-on-bold-90: var(--vs-text-color-neutral-on-bold-90);
  --text-color-success-50: var(--vs-text-color-success-50);
  --text-color-success-80: var(--vs-text-color-success-80);
  --text-color-success-90: var(--vs-text-color-success-90);
  --text-color-success-on-bold-50: var(--vs-text-color-static-white-50);
  --text-color-success-on-bold-80: var(--vs-text-color-static-white-80);
  --text-color-success-on-bold-90: var(--vs-text-color-static-white-90);
  --text-color-high-contrast-base: CanvasText;
  --text-color-high-contrast-muted: GrayText;
  --text-color-high-contrast-highlight: Highlight;
  --text-color-high-contrast-button: ButtonText;
  --text-color-high-contrast-button-primary: ButtonFace;
  --text-color-high-contrast-link: LinkText;
  --text-color-high-contrast-link-active: ActiveText;
  --text-color-high-contrast-link-visited: VisitedText;
  --text-color-high-contrast-input: FieldText;
  --text-color-high-contrast-selection: HighlightText;
  --text-color-static-white-50: var(--vs-text-color-static-white-50);
  --text-color-static-white-80: var(--vs-text-color-static-white-80);
  --text-color-static-white-90: var(--vs-text-color-static-white-90);
  --text-color-static-white-on-bold-50: var(--vs-text-color-static-black-50);
  --text-color-static-white-on-bold-80: var(--vs-text-color-static-black-80);
  --text-color-static-white-on-bold-90: var(--vs-text-color-static-black-90);
  --background-color-accent-1: var(--vs-background-color-accent-1);
  --background-color-accent-2: var(--vs-background-color-accent-2);
  --background-color-accent-3: var(--vs-background-color-accent-3);
  --background-color-accent-10: var(--vs-background-color-accent-10);
  --background-color-accent-20: var(--vs-background-color-accent-20);
  --background-color-accent-30: var(--vs-background-color-accent-30);
  --background-color-accent-50: var(--vs-background-color-accent-50);
  --background-color-accent-60: var(--vs-background-color-accent-60);
  --background-color-accent-70: var(--vs-background-color-accent-70);
  --background-color-static-accent-50: var(--vs-color-plum-9);
  --background-color-static-accent-60: var(--vs-color-plum-10);
  --background-color-backdrop: var(--vs-background-color-backdrop);
  --background-color-static-black-10: var(--vs-color-black-alpha-3);
  --background-color-static-black-20: var(--vs-color-black-alpha-4);
  --background-color-static-black-30: var(--vs-color-black-alpha-5);
  --background-color-static-black-50: var(--vs-color-black-alpha-11);
  --background-color-static-black-60: var(--vs-color-black-alpha-12);
  --background-color-static-black-70: var(--vs-color-black);
  --background-color-caution-1: var(--vs-background-color-caution-1);
  --background-color-caution-2: var(--vs-background-color-caution-2);
  --background-color-caution-3: var(--vs-background-color-caution-3);
  --background-color-caution-10: var(--vs-background-color-caution-10);
  --background-color-caution-20: var(--vs-background-color-caution-20);
  --background-color-caution-30: var(--vs-background-color-caution-30);
  --background-color-caution-50: var(--vs-background-color-caution-50);
  --background-color-caution-60: var(--vs-background-color-caution-60);
  --background-color-caution-70: var(--vs-background-color-caution-70);
  --background-color-static-caution-50: var(--vs-color-amber-9);
  --background-color-static-caution-60: var(--vs-color-amber-10);
  --background-color-critical-1: var(--vs-background-color-critical-1);
  --background-color-critical-2: var(--vs-background-color-critical-2);
  --background-color-critical-3: var(--vs-background-color-critical-3);
  --background-color-critical-10: var(--vs-background-color-critical-10);
  --background-color-critical-20: var(--vs-background-color-critical-20);
  --background-color-critical-30: var(--vs-background-color-critical-30);
  --background-color-critical-50: var(--vs-background-color-critical-50);
  --background-color-critical-60: var(--vs-background-color-critical-60);
  --background-color-critical-70: var(--vs-background-color-critical-70);
  --background-color-static-critical-50: var(--vs-color-red-9);
  --background-color-static-critical-60: var(--vs-color-red-10);
  --background-color-glass-1: var(--vs-background-color-glass-1);
  --background-color-informative-1: var(--vs-background-color-informative-1);
  --background-color-informative-2: var(--vs-background-color-informative-2);
  --background-color-informative-3: var(--vs-background-color-informative-3);
  --background-color-informative-10: var(--vs-background-color-informative-10);
  --background-color-informative-20: var(--vs-background-color-informative-20);
  --background-color-informative-30: var(--vs-background-color-informative-30);
  --background-color-informative-50: var(--vs-background-color-informative-50);
  --background-color-informative-60: var(--vs-background-color-informative-60);
  --background-color-informative-70: var(--vs-background-color-informative-70);
  --background-color-static-informative-50: var(--vs-color-blue-9);
  --background-color-static-informative-60: var(--vs-color-blue-10);
  --background-color-neutral-1: var(--vs-background-color-neutral-1);
  --background-color-neutral-2: var(--vs-background-color-neutral-2);
  --background-color-neutral-3: var(--vs-background-color-neutral-3);
  --background-color-neutral-10: var(--vs-background-color-neutral-10);
  --background-color-neutral-20: var(--vs-background-color-neutral-20);
  --background-color-neutral-30: var(--vs-background-color-neutral-30);
  --background-color-neutral-50: var(--vs-background-color-neutral-50);
  --background-color-neutral-60: var(--vs-background-color-neutral-60);
  --background-color-neutral-70: var(--vs-background-color-neutral-70);
  --background-color-success-1: var(--vs-background-color-success-1);
  --background-color-success-2: var(--vs-background-color-success-2);
  --background-color-success-3: var(--vs-background-color-success-3);
  --background-color-success-10: var(--vs-background-color-success-10);
  --background-color-success-20: var(--vs-background-color-success-20);
  --background-color-success-30: var(--vs-background-color-success-30);
  --background-color-success-50: var(--vs-background-color-success-50);
  --background-color-success-60: var(--vs-background-color-success-60);
  --background-color-success-70: var(--vs-background-color-success-70);
  --background-color-static-success-50: var(--vs-color-plum-9);
  --background-color-static-success-60: var(--vs-color-plum-10);
  --background-color-high-contrast-base: Canvas;
  --background-color-high-contrast-muted: GrayText;
  --background-color-high-contrast-highlight: Highlight;
  --background-color-high-contrast-button: ButtonFace;
  --background-color-high-contrast-button-primary: ButtonText;
  --background-color-high-contrast-input: Field;
  --background-color-high-contrast-selection: Highlight;
  --background-color-static-white-10: var(--vs-color-white-alpha-4);
  --background-color-static-white-20: var(--vs-color-white-alpha-5);
  --background-color-static-white-30: var(--vs-color-white-alpha-6);
  --background-color-static-white-50: var(--vs-color-white-alpha-11);
  --background-color-static-white-60: var(--vs-color-white-alpha-12);
  --background-color-static-white-70: var(--vs-color-white);
  --border-color-accent-5: var(--vs-border-color-accent-5);
  --border-color-accent-10: var(--vs-border-color-accent-10);
  --border-color-accent-20: var(--vs-border-color-accent-20);
  --border-color-accent-30: var(--vs-border-color-accent-30);
  --border-color-static-black-5: var(--vs-color-black-alpha-3);
  --border-color-static-black-10: var(--vs-color-black-alpha-4);
  --border-color-static-black-20: var(--vs-color-black-alpha-5);
  --border-color-static-black-30: var(--vs-color-black-alpha-6);
  --border-color-caution-5: var(--vs-border-color-caution-5);
  --border-color-caution-10: var(--vs-border-color-caution-10);
  --border-color-caution-20: var(--vs-border-color-caution-20);
  --border-color-caution-30: var(--vs-border-color-caution-30);
  --border-color-critical-5: var(--vs-border-color-critical-5);
  --border-color-critical-10: var(--vs-border-color-critical-10);
  --border-color-critical-20: var(--vs-border-color-critical-20);
  --border-color-critical-30: var(--vs-border-color-critical-30);
  --border-color-informative-5: var(--vs-border-color-informative-5);
  --border-color-informative-10: var(--vs-border-color-informative-10);
  --border-color-informative-20: var(--vs-border-color-informative-20);
  --border-color-informative-30: var(--vs-border-color-informative-30);
  --border-color-neutral-5: var(--vs-border-color-neutral-5);
  --border-color-neutral-10: var(--vs-border-color-neutral-10);
  --border-color-neutral-20: var(--vs-border-color-neutral-20);
  --border-color-neutral-30: var(--vs-border-color-neutral-30);
  --border-color-success-5: var(--vs-border-color-success-5);
  --border-color-success-10: var(--vs-border-color-success-10);
  --border-color-success-20: var(--vs-border-color-success-20);
  --border-color-success-30: var(--vs-border-color-success-30);
  --border-color-high-contrast-base: CanvasText;
  --border-color-high-contrast-muted: GrayText;
  --border-color-high-contrast-highlight: Highlight;
  --border-color-high-contrast-button: ButtonBorder;
  --border-color-high-contrast-button-primary: ButtonText;
  --border-color-static-white-5: var(--vs-color-white-alpha-6);
  --border-color-static-white-10: var(--vs-color-white-alpha-7);
  --border-color-static-white-20: var(--vs-color-white-alpha-8);
  --border-color-static-white-30: var(--vs-color-white-alpha-9);
  --fill-accent-50: var(--vs-icon-color-accent-50);
  --stroke-accent-50: var(--vs-icon-color-accent-50);
  --fill-accent-80: var(--vs-icon-color-accent-80);
  --stroke-accent-80: var(--vs-icon-color-accent-80);
  --fill-accent-90: var(--vs-icon-color-accent-90);
  --stroke-accent-90: var(--vs-icon-color-accent-90);
  --fill-accent-on-bold-50: var(--vs-icon-color-static-white-50);
  --stroke-accent-on-bold-50: var(--vs-icon-color-static-white-50);
  --fill-accent-on-bold-80: var(--vs-icon-color-static-white-80);
  --stroke-accent-on-bold-80: var(--vs-icon-color-static-white-80);
  --fill-accent-on-bold-90: var(--vs-icon-color-static-white-90);
  --stroke-accent-on-bold-90: var(--vs-icon-color-static-white-90);
  --fill-static-black-50: var(--vs-color-black-alpha-6);
  --stroke-static-black-50: var(--vs-color-black-alpha-6);
  --fill-static-black-80: var(--vs-color-black-alpha-8);
  --stroke-static-black-80: var(--vs-color-black-alpha-8);
  --fill-static-black-90: var(--vs-color-black-alpha-10);
  --stroke-static-black-90: var(--vs-color-black-alpha-10);
  --fill-static-black-on-bold-50: var(--vs-icon-color-static-white-50);
  --stroke-static-black-on-bold-50: var(--vs-icon-color-static-white-50);
  --fill-static-black-on-bold-80: var(--vs-icon-color-static-white-80);
  --stroke-static-black-on-bold-80: var(--vs-icon-color-static-white-80);
  --fill-static-black-on-bold-90: var(--vs-icon-color-static-white-90);
  --stroke-static-black-on-bold-90: var(--vs-icon-color-static-white-90);
  --fill-caution-50: var(--vs-icon-color-caution-50);
  --stroke-caution-50: var(--vs-icon-color-caution-50);
  --fill-caution-80: var(--vs-icon-color-caution-80);
  --stroke-caution-80: var(--vs-icon-color-caution-80);
  --fill-caution-90: var(--vs-icon-color-caution-90);
  --stroke-caution-90: var(--vs-icon-color-caution-90);
  --fill-caution-on-bold-50: var(--vs-icon-color-static-white-50);
  --stroke-caution-on-bold-50: var(--vs-icon-color-static-white-50);
  --fill-caution-on-bold-80: var(--vs-icon-color-static-white-80);
  --stroke-caution-on-bold-80: var(--vs-icon-color-static-white-80);
  --fill-caution-on-bold-90: var(--vs-icon-color-static-white-90);
  --stroke-caution-on-bold-90: var(--vs-icon-color-static-white-90);
  --fill-critical-50: var(--vs-icon-color-critical-50);
  --stroke-critical-50: var(--vs-icon-color-critical-50);
  --fill-critical-80: var(--vs-icon-color-critical-80);
  --stroke-critical-80: var(--vs-icon-color-critical-80);
  --fill-critical-90: var(--vs-icon-color-critical-90);
  --stroke-critical-90: var(--vs-icon-color-critical-90);
  --fill-critical-on-bold-50: var(--vs-icon-color-static-white-50);
  --stroke-critical-on-bold-50: var(--vs-icon-color-static-white-50);
  --fill-critical-on-bold-80: var(--vs-icon-color-static-white-80);
  --stroke-critical-on-bold-80: var(--vs-icon-color-static-white-80);
  --fill-critical-on-bold-90: var(--vs-icon-color-static-white-90);
  --stroke-critical-on-bold-90: var(--vs-icon-color-static-white-90);
  --fill-informative-50: var(--vs-icon-color-informative-50);
  --stroke-informative-50: var(--vs-icon-color-informative-50);
  --fill-informative-80: var(--vs-icon-color-informative-80);
  --stroke-informative-80: var(--vs-icon-color-informative-80);
  --fill-informative-90: var(--vs-icon-color-informative-90);
  --stroke-informative-90: var(--vs-icon-color-informative-90);
  --fill-informative-on-bold-50: var(--vs-icon-color-static-white-50);
  --stroke-informative-on-bold-50: var(--vs-icon-color-static-white-50);
  --fill-informative-on-bold-80: var(--vs-icon-color-static-white-80);
  --stroke-informative-on-bold-80: var(--vs-icon-color-static-white-80);
  --fill-informative-on-bold-90: var(--vs-icon-color-static-white-90);
  --stroke-informative-on-bold-90: var(--vs-icon-color-static-white-90);
  --fill-neutral-50: var(--vs-icon-color-neutral-50);
  --stroke-neutral-50: var(--vs-icon-color-neutral-50);
  --fill-neutral-80: var(--vs-icon-color-neutral-80);
  --stroke-neutral-80: var(--vs-icon-color-neutral-80);
  --fill-neutral-90: var(--vs-icon-color-neutral-90);
  --stroke-neutral-90: var(--vs-icon-color-neutral-90);
  --fill-neutral-on-bold-50: var(--vs-icon-color-neutral-on-bold-50);
  --stroke-neutral-on-bold-50: var(--vs-icon-color-neutral-on-bold-50);
  --fill-neutral-on-bold-80: var(--vs-icon-color-neutral-on-bold-80);
  --stroke-neutral-on-bold-80: var(--vs-icon-color-neutral-on-bold-80);
  --fill-neutral-on-bold-90: var(--vs-icon-color-neutral-on-bold-90);
  --stroke-neutral-on-bold-90: var(--vs-icon-color-neutral-on-bold-90);
  --fill-success-50: var(--vs-icon-color-success-50);
  --stroke-success-50: var(--vs-icon-color-success-50);
  --fill-success-80: var(--vs-icon-color-success-80);
  --stroke-success-80: var(--vs-icon-color-success-80);
  --fill-success-90: var(--vs-icon-color-success-90);
  --stroke-success-90: var(--vs-icon-color-success-90);
  --fill-success-on-bold-50: var(--vs-icon-color-static-white-50);
  --stroke-success-on-bold-50: var(--vs-icon-color-static-white-50);
  --fill-success-on-bold-80: var(--vs-icon-color-static-white-80);
  --stroke-success-on-bold-80: var(--vs-icon-color-static-white-80);
  --fill-success-on-bold-90: var(--vs-icon-color-static-white-90);
  --stroke-success-on-bold-90: var(--vs-icon-color-static-white-90);
  --fill-static-white-50: var(--vs-color-white-alpha-6);
  --stroke-static-white-50: var(--vs-color-white-alpha-6);
  --fill-static-white-80: var(--vs-color-white-alpha-8);
  --stroke-static-white-80: var(--vs-color-white-alpha-8);
  --fill-static-white-90: var(--vs-color-white-alpha-10);
  --stroke-static-white-90: var(--vs-color-white-alpha-10);
  --fill-static-white-on-bold-50: var(--vs-icon-color-static-black-50);
  --stroke-static-white-on-bold-50: var(--vs-icon-color-static-black-50);
  --fill-static-white-on-bold-80: var(--vs-icon-color-static-black-80);
  --stroke-static-white-on-bold-80: var(--vs-icon-color-static-black-80);
  --fill-static-white-on-bold-90: var(--vs-icon-color-static-black-90);
  --stroke-static-white-on-bold-90: var(--vs-icon-color-static-black-90);
}
