.vsc-link {
  appearance: none;
  color: var(--vs-link-color, inherit);
  cursor: pointer;
  opacity: var(--vs-link-opacity);
  outline: var(--vs-link-outline-width) var(--vs-link-outline-style)
    var(--vs-link-outline-color);
  outline-offset: var(--vs-link-outline-offset);
  position: relative;
  text-decoration-color: var(--vs-link-decoration-line-color, currentcolor);
  text-decoration-thickness: var(--vs-link-decoration-line-thickness);
  text-underline-offset: var(--vs-link-underline-offset, auto);

  &[data-underline='none'] {
    text-decoration-line: none;
  }

  &[data-underline='solid'] {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  &[data-underline='dotted'] {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }

  &[data-unstyled] {
    all: revert-layer;
  }
}
