---
import palettez from 'palettez/raw?raw'

import { Demo } from '#src/lib/components'
import { THEMES, type DemoTheme } from '#src/lib/data'

const CURRENT_THEME: DemoTheme = 'github'

const { title, resourceLinks, palettezConfig, themeScript } =
  THEMES[CURRENT_THEME]
---

<html dir='ltr' lang='en' class='vs:scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1,shrink-to-fit=no'
    />
    <title>{title}</title>
    {resourceLinks.map((linkProps) => <link {...linkProps} />)}
    <style is:global>
      /* undo Tailwind's preflight style */
      @layer global {
        select {
          background-color: revert;
          color: revert;
        }
      }
    </style>
    <script
      is:inline
      set:html={`${palettez};(${themeScript.toString()})(${JSON.stringify({
        key: CURRENT_THEME,
        config: palettezConfig,
      })})`}
    />
  </head>
  <body>
    <div class='vs:isolate'>
      <Demo theme={CURRENT_THEME} client:load />
    </div>
  </body>
</html>
