@layer reset, theme, global, components, app, utilities;

/* CSS theme */
@import './tokens/css/custom-media.css';
@import './tokens/css/custom-selectors.css';
@import './tokens/css/theme.css' layer(theme);

/* TailwindCSS */
@import 'tailwindcss/preflight.css' layer(reset);
@import 'tailwindcss/theme.css' layer(theme) prefix(vs);
@import 'tailwindcss/utilities.css' layer(utilities) prefix(vs);
@import './tokens/tailwind-v4/theme.css' layer(theme)
  prefix(vs);
@import './tokens/tailwind-v4/variants.css';

/* UI */
@import '#src/ui/core/css/keyframes.css';
@import '#src/ui/core/css/components.css' layer(components);
@import '#src/ui/core/css/utilities.css' layer(utilities);

/* Icon */
@import '#src/ui/core/css/icon/octicons.css' layer(components);

/* Global */
@layer global {
  * {
    border-color: var(--vs-border-color-default);
  }

  :--vs-container {
    background-color: var(--vs-background-color-default);
    color: var(--vs-text-color-default);
    font-family: var(--vs-font-family-sans-serif);
    font-size: var(--vs-text-body-size-large);
    line-height: var(--vs-text-body-line-height-large);
  }

  :--vs-container:--vs-condition-color-mode-light {
    color-scheme: light;
  }

  :--vs-container:--vs-condition-color-mode-dark {
    color-scheme: dark;
  }

  :focus-visible:not([data-focused]) {
    outline: var(--vs-outline-focus-ring-width) solid
      var(--vs-outline-focus-ring-color);
    outline-offset: var(--vs-outline-focus-ring-offset);
  }
}

@utility typography-display {
  font-family: var(--vs-font-family-sans-serif-display);
  font-size: var(--vs-text-display-size);
  font-weight: var(--vs-text-display-weight);
  line-height: var(--vs-text-display-line-height);
}

@utility typography-title-small {
  font-family: var(--vs-font-family-sans-serif);
  font-size: var(--vs-text-title-size-small);
  font-weight: var(--vs-text-title-weight-small);
  line-height: var(--vs-text-title-line-height-small);
}

@utility typography-title-medium {
  font-family: var(--vs-font-family-sans-serif-display);
  font-size: var(--vs-text-title-size-medium);
  font-weight: var(--vs-text-title-weight-medium);
  line-height: var(--vs-text-title-line-height-medium);
}

@utility typography-title-large {
  font-family: var(--vs-font-family-sans-serif-display);
  font-size: var(--vs-text-title-size-large);
  font-weight: var(--vs-text-title-weight-large);
  line-height: var(--vs-text-title-line-height-large);
}

@utility typography-subtitle {
  font-family: var(--vs-font-family-sans-serif-display);
  font-size: var(--vs-text-subtitle-size);
  font-weight: var(--vs-text-subtitle-weight);
  line-height: var(--vs-text-subtitle-line-height);
}

@utility typography-body-small {
  font-family: var(--vs-font-family-sans-serif);
  font-size: var(--vs-text-body-size-small);
  font-weight: var(--vs-text-body-weight);
  line-height: var(--vs-text-body-line-height-small);
}

@utility typography-body-medium {
  font-family: var(--vs-font-family-sans-serif);
  font-size: var(--vs-text-body-size-medium);
  font-weight: var(--vs-text-body-weight);
  line-height: var(--vs-text-body-line-height-medium);
}

@utility typography-body-large {
  font-family: var(--vs-font-family-sans-serif);
  font-size: var(--vs-text-body-size-large);
  font-weight: var(--vs-text-body-weight);
  line-height: var(--vs-text-body-line-height-large);
}

@utility typography-caption {
  font-family: var(--vs-font-family-sans-serif);
  font-size: var(--vs-text-caption-size);
  font-weight: var(--vs-text-caption-weight);
  line-height: var(--vs-text-caption-line-height);
}

@utility typography-code-block {
  font-family: var(--vs-font-family-monospace);
  font-size: var(--vs-text-code-block-size);
  font-weight: var(--vs-text-code-block-weight);
  line-height: var(--vs-text-code-block-line-height);
}

@utility typography-code-inline {
  font-family: var(--vs-font-family-monospace);
  font-size: var(--vs-text-code-inline-size);
  font-weight: var(--vs-text-code-inline-weight);
  line-height: var(--vs-text-code-inline-line-height);
}
