@custom-selector :--vs-container :root;
@custom-selector :--vs-condition-color-scheme-light [data-color-scheme="light"];
@custom-selector :--vs-condition-color-scheme-dark [data-color-scheme="dark"];
@custom-selector :--vs-condition-contrast-standard [data-contrast="standard"];
@custom-selector :--vs-condition-contrast-high [data-contrast="high"];
@custom-selector :--vs-condition-motion-standard [data-motion="standard"];
@custom-selector :--vs-condition-motion-reduced [data-motion="reduced"];
@custom-selector :--vs-condition-writing-direction-ltr :where(:dir(ltr), [dir="ltr"]);
@custom-selector :--vs-condition-writing-direction-rtl [dir="rtl"];
@custom-selector :--vs-condition-language-en [lang="en"];
@custom-selector :--vs-variant-hover :hover, [data-hovered];
@custom-selector :--vs-variant-pressed :active, [data-pressed];
@custom-selector :--vs-variant-focus :focus, [data-focused];
@custom-selector :--vs-variant-focus-within :focus-within;
@custom-selector :--vs-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-variant-enabled :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-variant-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-variant-soft-disabled [data-status="soft-disabled"];
@custom-selector :--vs-variant-pending [data-pending], [data-status="pending"];
@custom-selector :--vs-variant-selected [data-selected], [aria-selected];
@custom-selector :--vs-variant-input-valid :user-valid;
@custom-selector :--vs-variant-input-invalid :user-invalid, [data-invalid], [aria-invalid];
@custom-selector :--vs-variant-read-only [readonly], [data-readonly], [aria-readonly];
@custom-selector :--vs-variant-editable :not([readonly], [data-readonly], [aria-readonly]);
@custom-selector :--vs-variant-inert [inert], [data-inert];
@custom-selector :--vs-variant-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-variant-vertical [data-orientation="vertical"];
@custom-selector :--vs-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-variant-tone-informative [data-tone="informative"];
@custom-selector :--vs-variant-tone-success [data-tone="success"];
@custom-selector :--vs-variant-tone-caution [data-tone="caution"];
@custom-selector :--vs-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-variant-tone-static-black [data-tone="static-black"];
@custom-selector :--vs-variant-tone-static-white [data-tone="static-white"];
@custom-selector :--vs-variant-radius-none [data-radius="none"];
@custom-selector :--vs-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-variant-radius-full [data-radius="full"];
@custom-selector :--vs-variant-size-2xs [data-size="2xs"];
@custom-selector :--vs-variant-size-xs [data-size="xs"];
@custom-selector :--vs-variant-size-sm [data-size="sm"];
@custom-selector :--vs-variant-size-md [data-size="md"];
@custom-selector :--vs-variant-size-lg [data-size="lg"];
@custom-selector :--vs-variant-size-xl [data-size="xl"];
@custom-selector :--vs-variant-size-2xl [data-size="2xl"];
@custom-selector :--vs-alert-banner-variant-tone-informative [data-tone="informative"];
@custom-selector :--vs-alert-banner-variant-tone-success [data-tone="success"];
@custom-selector :--vs-alert-banner-variant-tone-caution [data-tone="caution"];
@custom-selector :--vs-alert-banner-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-alert-banner-variant-inline [data-inline];
@custom-selector :--vs-badge-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-badge-variant-tone-informative [data-tone="informative"];
@custom-selector :--vs-badge-variant-tone-success [data-tone="success"];
@custom-selector :--vs-badge-variant-tone-caution [data-tone="caution"];
@custom-selector :--vs-badge-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-badge-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-badge-variant-visual-bold [data-visual="bold"];
@custom-selector :--vs-badge-variant-visual-soft [data-visual="soft"];
@custom-selector :--vs-badge-variant-size-sm [data-size="sm"];
@custom-selector :--vs-badge-variant-size-md [data-size="md"];
@custom-selector :--vs-badge-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-badge-variant-radius-full [data-radius="full"];
@custom-selector :--vs-badge-variant-isometric [data-isometric];
@custom-selector :--vs-button-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-button-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-button-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-button-variant-tone-static-black [data-tone="static-black"];
@custom-selector :--vs-button-variant-tone-static-white [data-tone="static-white"];
@custom-selector :--vs-button-variant-visual-bold [data-visual="bold"];
@custom-selector :--vs-button-variant-visual-outline [data-visual="outline"];
@custom-selector :--vs-button-variant-visual-plain [data-visual="plain"];
@custom-selector :--vs-button-variant-size-2xs [data-size="2xs"];
@custom-selector :--vs-button-variant-size-xs [data-size="xs"];
@custom-selector :--vs-button-variant-size-sm [data-size="sm"];
@custom-selector :--vs-button-variant-size-md [data-size="md"];
@custom-selector :--vs-button-variant-size-lg [data-size="lg"];
@custom-selector :--vs-button-variant-size-xl [data-size="xl"];
@custom-selector :--vs-button-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-button-variant-radius-full [data-radius="full"];
@custom-selector :--vs-button-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-button-variant-label-align-center [data-label-align="center"];
@custom-selector :--vs-button-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-button-variant-label-align-true-center [data-label-align="true-center"];
@custom-selector :--vs-button-variant-content-width-fit [data-content-width="fit"];
@custom-selector :--vs-button-variant-content-width-full [data-content-width="full"];
@custom-selector :--vs-button-variant-status-enabled :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-button-variant-status-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-button-variant-status-soft-disabled [data-status="soft-disabled"];
@custom-selector :--vs-button-variant-status-pending [data-pending], [data-status="pending"];
@custom-selector :--vs-button-variant-hover :hover, [data-hovered];
@custom-selector :--vs-button-variant-pressed :active, [data-pressed];
@custom-selector :--vs-button-variant-focus :focus, [data-focused];
@custom-selector :--vs-button-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-checkbox-variant-is-selected :has(input:checked);
@custom-selector :--vs-checkbox-variant-is-indeterminate [data-indeterminate];
@custom-selector :--vs-checkbox-variant-is-read-only [readonly], [data-readonly], [aria-readonly];
@custom-selector :--vs-checkbox-variant-is-read-only-false :not([readonly], [data-readonly], [aria-readonly]);
@custom-selector :--vs-checkbox-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-checkbox-variant-is-disabled-false :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-checkbox-variant-hover :hover, [data-hovered];
@custom-selector :--vs-checkbox-variant-pressed :active, [data-pressed];
@custom-selector :--vs-checkbox-variant-focus :focus, [data-focused];
@custom-selector :--vs-checkbox-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-checkbox-variant-input-invalid :has(:is(:user-invalid, [data-invalid], [aria-invalid]));
@custom-selector :--vs-checkbox-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-checkbox-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-checkbox-field-variant-layout-inline [data-layout="inline"];
@custom-selector :--vs-checkbox-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-checkbox-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-checkbox-item-variant-is-disabled :has(:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-checkbox-group-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-checkbox-group-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-checkbox-group-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-checkbox-group-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-combo-box-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-combo-box-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-combo-box-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-combo-box-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-dialog-variant-size-sm [data-size="sm"];
@custom-selector :--vs-dialog-variant-size-md [data-size="md"];
@custom-selector :--vs-dialog-variant-size-lg [data-size="lg"];
@custom-selector :--vs-dialog-variant-size-full [data-size="full"];
@custom-selector :--vs-dialog-variant-size-fill [data-size="fill"];
@custom-selector :--vs-dialog-container-variant-entering [data-entering];
@custom-selector :--vs-dialog-container-variant-exiting [data-exiting];
@custom-selector :--vs-drawer-variant-size-sm [data-size="sm"];
@custom-selector :--vs-drawer-variant-size-md [data-size="md"];
@custom-selector :--vs-drawer-variant-size-lg [data-size="lg"];
@custom-selector :--vs-drawer-variant-size-full [data-size="full"];
@custom-selector :--vs-drawer-variant-size-fit [data-size="fit"];
@custom-selector :--vs-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-icon-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-icon-variant-tone-informative [data-tone="informative"];
@custom-selector :--vs-icon-variant-tone-success [data-tone="success"];
@custom-selector :--vs-icon-variant-tone-caution [data-tone="caution"];
@custom-selector :--vs-icon-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-icon-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-icon-variant-tone-static-black [data-tone="static-black"];
@custom-selector :--vs-icon-variant-tone-static-white [data-tone="static-white"];
@custom-selector :--vs-icon-variant-emphasis-50 [data-emphasis="50"];
@custom-selector :--vs-icon-variant-emphasis-80 [data-emphasis="80"];
@custom-selector :--vs-icon-variant-emphasis-90 [data-emphasis="90"];
@custom-selector :--vs-icon-variant-size-xs [data-size="xs"];
@custom-selector :--vs-icon-variant-size-sm [data-size="sm"];
@custom-selector :--vs-icon-variant-size-md [data-size="md"];
@custom-selector :--vs-icon-variant-size-lg [data-size="lg"];
@custom-selector :--vs-icon-variant-size-xl [data-size="xl"];
@custom-selector :--vs-link-variant-variant-primary [data-variant="primary"];
@custom-selector :--vs-link-variant-variant-secondary [data-variant="secondary"];
@custom-selector :--vs-link-variant-variant-accent [data-variant="accent"];
@custom-selector :--vs-link-variant-variant-static-black [data-variant="static-black"];
@custom-selector :--vs-link-variant-variant-static-white [data-variant="static-white"];
@custom-selector :--vs-link-variant-variant-unstyled [data-variant="unstyled"];
@custom-selector :--vs-link-variant-visual-plain [data-visual="plain"];
@custom-selector :--vs-link-variant-visual-underline [data-visual="underline"];
@custom-selector :--vs-link-variant-visual-dotted [data-visual="dotted"];
@custom-selector :--vs-link-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-link-variant-hover :hover, [data-hovered];
@custom-selector :--vs-link-variant-pressed :active, [data-pressed];
@custom-selector :--vs-link-variant-focus :focus, [data-focused];
@custom-selector :--vs-link-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-link-variant-visited :visited;
@custom-selector :--vs-list-box-item-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-list-box-item-variant-hover :hover, [data-hovered];
@custom-selector :--vs-list-box-item-variant-pressed :active, [data-pressed];
@custom-selector :--vs-list-box-item-variant-focus :focus, [data-focused];
@custom-selector :--vs-list-box-item-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-list-box-item-variant-is-selected [data-selected], [aria-selected];
@custom-selector :--vs-menu-item-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-menu-item-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-menu-item-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-menu-item-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-menu-item-variant-hover :hover, [data-hovered];
@custom-selector :--vs-menu-item-variant-pressed :active, [data-pressed];
@custom-selector :--vs-menu-item-variant-focus :focus, [data-focused];
@custom-selector :--vs-menu-item-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-menu-item-variant-is-selected [data-selected], [aria-selected];
@custom-selector :--vs-meter-variant-tone-informative [data-tone="informative"];
@custom-selector :--vs-meter-variant-tone-success [data-tone="success"];
@custom-selector :--vs-meter-variant-tone-caution [data-tone="caution"];
@custom-selector :--vs-meter-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-meter-variant-radius-none [data-radius="none"];
@custom-selector :--vs-meter-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-meter-variant-radius-full [data-radius="full"];
@custom-selector :--vs-meter-variant-size-sm [data-size="sm"];
@custom-selector :--vs-meter-variant-size-md [data-size="md"];
@custom-selector :--vs-meter-variant-size-lg [data-size="lg"];
@custom-selector :--vs-native-select-variant-is-read-only :has(:is([readonly], [data-readonly], [aria-readonly]));
@custom-selector :--vs-native-select-variant-is-disabled :has(select:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-native-select-variant-is-disabled-false :has(select:not(:disabled, [data-disabled], [aria-disabled]));
@custom-selector :--vs-native-select-variant-multiple :has(select[multiple]);
@custom-selector :--vs-native-select-variant-multiple-false :has(select:not([multiple]));
@custom-selector :--vs-native-select-variant-hover :has(select:is(:hover, [data-hovered]));
@custom-selector :--vs-native-select-variant-focus :has(select:is(:focus, [data-focused]));
@custom-selector :--vs-native-select-variant-focus-visible :has(select:is(:focus-visible:not([data-focused]), [data-focus-visible]));
@custom-selector :--vs-native-select-variant-input-invalid :has(select:is(:user-invalid, [data-invalid], [aria-invalid]));
@custom-selector :--vs-native-select-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-native-select-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-native-select-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-native-select-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-number-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-number-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-number-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-number-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-number-stepper-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-number-stepper-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-number-stepper-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-number-stepper-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-progress-bar-variant-tone-informative [data-tone="informative"];
@custom-selector :--vs-progress-bar-variant-tone-success [data-tone="success"];
@custom-selector :--vs-progress-bar-variant-tone-caution [data-tone="caution"];
@custom-selector :--vs-progress-bar-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-progress-bar-variant-radius-none [data-radius="none"];
@custom-selector :--vs-progress-bar-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-progress-bar-variant-radius-full [data-radius="full"];
@custom-selector :--vs-progress-bar-variant-size-sm [data-size="sm"];
@custom-selector :--vs-progress-bar-variant-size-md [data-size="md"];
@custom-selector :--vs-progress-bar-variant-size-lg [data-size="lg"];
@custom-selector :--vs-radio-variant-is-selected :has(input:checked);
@custom-selector :--vs-radio-variant-is-read-only [readonly], [data-readonly], [aria-readonly];
@custom-selector :--vs-radio-variant-is-read-only-false :not([readonly], [data-readonly], [aria-readonly]);
@custom-selector :--vs-radio-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-radio-variant-is-disabled-false :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-radio-variant-hover :hover, [data-hovered];
@custom-selector :--vs-radio-variant-pressed :active, [data-pressed];
@custom-selector :--vs-radio-variant-focus :focus, [data-focused];
@custom-selector :--vs-radio-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-radio-variant-input-invalid :has(:is(:user-invalid, [data-invalid], [aria-invalid]));
@custom-selector :--vs-radio-item-variant-is-disabled :has(:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-radio-group-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-radio-group-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-radio-group-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-radio-group-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-search-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-search-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-search-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-search-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-select-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-select-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-select-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-select-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-select-trigger-variant-is-read-only :has(:is([readonly], [data-readonly], [aria-readonly]));
@custom-selector :--vs-select-trigger-variant-is-disabled :has([slot="trigger"]:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-select-trigger-variant-is-disabled-false :has([slot="trigger"]:not(:disabled, [data-disabled], [aria-disabled]));
@custom-selector :--vs-select-trigger-variant-is-open [aria-expanded];
@custom-selector :--vs-select-trigger-variant-hover :hover, [data-hovered];
@custom-selector :--vs-select-trigger-variant-focus :has([slot="trigger"]:is(:focus, [data-focused]));
@custom-selector :--vs-select-trigger-variant-focus-visible :has([slot="trigger"]:is(:focus-visible:not([data-focused]), [data-focus-visible]));
@custom-selector :--vs-select-trigger-variant-input-invalid :is(:user-invalid, [data-invalid], [aria-invalid]) :where([slot="trigger"]);
@custom-selector :--vs-slider-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-slider-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-slider-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-slider-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-slider-field-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-slider-field-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-slider-field-variant-is-disabled :has(input:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-slider-field-variant-is-disabled-false :has(input:not(:disabled, [data-disabled], [aria-disabled]));
@custom-selector :--vs-slider-field-variant-orientation-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-slider-field-variant-orientation-vertical [data-orientation="vertical"];
@custom-selector :--vs-slider-track-variant-is-disabled :has(input:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-slider-track-variant-is-disabled-false :has(input:not(:disabled, [data-disabled], [aria-disabled]));
@custom-selector :--vs-slider-track-variant-orientation-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-slider-track-variant-orientation-vertical [data-orientation="vertical"];
@custom-selector :--vs-slider-track-variant-hover :hover, [data-hovered];
@custom-selector :--vs-slider-thumb-variant-is-disabled :has(input:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-slider-thumb-variant-is-disabled-false :has(input:not(:disabled, [data-disabled], [aria-disabled]));
@custom-selector :--vs-slider-thumb-variant-hover :hover, [data-hovered];
@custom-selector :--vs-slider-thumb-variant-dragging [data-dragging];
@custom-selector :--vs-slider-thumb-variant-focus :has(input:is(:focus, [data-focused]));
@custom-selector :--vs-slider-thumb-variant-focus-visible :has(input:is(:focus-visible:not([data-focused]), [data-focus-visible]));
@custom-selector :--vs-spinner-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-spinner-variant-tone-informative [data-tone="informative"];
@custom-selector :--vs-spinner-variant-tone-success [data-tone="success"];
@custom-selector :--vs-spinner-variant-tone-caution [data-tone="caution"];
@custom-selector :--vs-spinner-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-spinner-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-spinner-variant-tone-static-black [data-tone="static-black"];
@custom-selector :--vs-spinner-variant-tone-static-white [data-tone="static-white"];
@custom-selector :--vs-spinner-variant-size-sm [data-size="sm"];
@custom-selector :--vs-spinner-variant-size-md [data-size="md"];
@custom-selector :--vs-spinner-variant-size-lg [data-size="lg"];
@custom-selector :--vs-spinner-variant-is-delayed [data-delayed];
@custom-selector :--vs-split-button-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-split-button-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-split-button-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-split-button-variant-tone-static-black [data-tone="static-black"];
@custom-selector :--vs-split-button-variant-tone-static-white [data-tone="static-white"];
@custom-selector :--vs-split-button-variant-visual-bold [data-visual="bold"];
@custom-selector :--vs-split-button-variant-visual-outline [data-visual="outline"];
@custom-selector :--vs-split-button-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-split-button-variant-radius-full [data-radius="full"];
@custom-selector :--vs-split-button-variant-size-2xs [data-size="2xs"];
@custom-selector :--vs-split-button-variant-size-xs [data-size="xs"];
@custom-selector :--vs-split-button-variant-size-sm [data-size="sm"];
@custom-selector :--vs-split-button-variant-size-md [data-size="md"];
@custom-selector :--vs-split-button-variant-size-lg [data-size="lg"];
@custom-selector :--vs-split-button-variant-size-xl [data-size="xl"];
@custom-selector :--vs-switch-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-switch-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-switch-field-variant-layout-inline [data-layout="inline"];
@custom-selector :--vs-switch-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-switch-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-switch-field-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-switch-field-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-switch-field-variant-size-sm [data-size="sm"];
@custom-selector :--vs-switch-field-variant-size-md [data-size="md"];
@custom-selector :--vs-switch-field-variant-size-lg [data-size="lg"];
@custom-selector :--vs-switch-field-variant-is-selected :has(input:checked);
@custom-selector :--vs-switch-field-variant-is-read-only :has(input:is([readonly], [data-readonly], [aria-readonly]));
@custom-selector :--vs-switch-field-variant-is-disabled :has(input:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-switch-field-variant-is-disabled-false :has(input:not(:disabled, [data-disabled], [aria-disabled]));
@custom-selector :--vs-switch-field-variant-hover :hover, [data-hovered];
@custom-selector :--vs-switch-field-variant-pressed :active, [data-pressed];
@custom-selector :--vs-switch-field-variant-focus :has(input:is(:focus, [data-focused]));
@custom-selector :--vs-switch-field-variant-focus-visible :has(input:is(:focus-visible:not([data-focused]), [data-focus-visible]));
@custom-selector :--vs-tabs-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-tabs-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-tabs-variant-visual-line [data-visual="line"];
@custom-selector :--vs-tabs-variant-visual-folder [data-visual="folder"];
@custom-selector :--vs-tabs-variant-size-sm [data-size="sm"];
@custom-selector :--vs-tabs-variant-size-md [data-size="md"];
@custom-selector :--vs-tabs-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-tabs-variant-radius-full [data-radius="full"];
@custom-selector :--vs-tabs-variant-orientation-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-tabs-variant-orientation-vertical [data-orientation="vertical"];
@custom-selector :--vs-tabs-variant-inverted [data-inverted];
@custom-selector :--vs-tabs-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-tab-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-tab-variant-label-align-center [data-label-align="center"];
@custom-selector :--vs-tab-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-tab-variant-content-width-fit [data-content-width="fit"];
@custom-selector :--vs-tab-variant-content-width-full [data-content-width="full"];
@custom-selector :--vs-tab-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-tab-variant-is-disabled-false :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-tab-variant-hover :hover, [data-hovered];
@custom-selector :--vs-tab-variant-pressed :active, [data-pressed];
@custom-selector :--vs-tab-variant-focus :focus, [data-focused];
@custom-selector :--vs-tab-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-tab-variant-is-selected [data-selected], [aria-selected];
@custom-selector :--vs-tab-indicator-variant-type-line [data-type="line"];
@custom-selector :--vs-tab-indicator-variant-type-block [data-type="block"];
@custom-selector :--vs-tab-indicator-variant-position-start [data-position="start"];
@custom-selector :--vs-tab-indicator-variant-position-end [data-position="end"];
@custom-selector :--vs-tab-indicator-variant-transition-none [data-transition="none"];
@custom-selector :--vs-tab-indicator-variant-transition-smooth [data-transition="smooth"];
@custom-selector :--vs-tab-indicator-variant-orientation-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-tab-indicator-variant-orientation-vertical [data-orientation="vertical"];
@custom-selector :--vs-tab-panel-list-variant-focus-visible :has([role="tabpanel"]:is(:focus-visible:not([data-focused]), [data-focus-visible]));
@custom-selector :--vs-tab-panel-variant-is-inert [data-inert];
@custom-selector :--vs-tab-panel-variant-focus :focus, [data-focused];
@custom-selector :--vs-tab-panel-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-text-area-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-text-area-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-text-area-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-text-area-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-text-area-variant-is-read-only :has(:is([readonly], [data-readonly], [aria-readonly]));
@custom-selector :--vs-text-area-variant-is-disabled :has([slot="input"]:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-text-area-variant-is-disabled-false :has([slot="input"]:not(:disabled, [data-disabled], [aria-disabled]));
@custom-selector :--vs-text-area-variant-hover :hover, [data-hovered];
@custom-selector :--vs-text-area-variant-focus :has([slot="input"]:is(:focus, [data-focused]));
@custom-selector :--vs-text-area-variant-focus-visible :has([slot="input"]:is(:focus-visible:not([data-focused]), [data-focus-visible]));
@custom-selector :--vs-text-area-variant-input-invalid :has([slot="input"]:is(:user-invalid, [data-invalid], [aria-invalid]));
@custom-selector :--vs-text-field-variant-layout-horizontal [data-layout="horizontal"];
@custom-selector :--vs-text-field-variant-layout-vertical [data-layout="vertical"];
@custom-selector :--vs-text-field-variant-label-align-start [data-label-align="start"];
@custom-selector :--vs-text-field-variant-label-align-end [data-label-align="end"];
@custom-selector :--vs-text-input-variant-is-read-only :has(:is([readonly], [data-readonly], [aria-readonly]));
@custom-selector :--vs-text-input-variant-is-disabled :has([slot="input"]:is(:disabled, [data-disabled], [data-status="disabled"]));
@custom-selector :--vs-text-input-variant-is-disabled-false :has([slot="input"]:not(:disabled, [data-disabled], [aria-disabled]));
@custom-selector :--vs-text-input-variant-hover :hover, [data-hovered];
@custom-selector :--vs-text-input-variant-focus :has([slot="input"]:is(:focus, [data-focused]));
@custom-selector :--vs-text-input-variant-focus-visible :has([slot="input"]:is(:focus-visible:not([data-focused]), [data-focus-visible]));
@custom-selector :--vs-text-input-variant-input-invalid :has([slot="input"]:is(:user-invalid, [data-invalid], [aria-invalid]));
@custom-selector :--vs-toast-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-toast-variant-tone-informative [data-tone="informative"];
@custom-selector :--vs-toast-variant-tone-success [data-tone="success"];
@custom-selector :--vs-toast-variant-tone-caution [data-tone="caution"];
@custom-selector :--vs-toast-variant-tone-critical [data-tone="critical"];
@custom-selector :--vs-toast-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-toast-variant-inline [data-inline];
@custom-selector :--vs-toggle-button-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-toggle-button-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-toggle-button-variant-visual-bold [data-visual="bold"];
@custom-selector :--vs-toggle-button-variant-visual-soft [data-visual="soft"];
@custom-selector :--vs-toggle-button-variant-visual-plain [data-visual="plain"];
@custom-selector :--vs-toggle-button-variant-with-outline [data-with-outline];
@custom-selector :--vs-toggle-button-variant-with-outline-false :not([data-with-outline]);
@custom-selector :--vs-toggle-button-variant-size-2xs [data-size="2xs"];
@custom-selector :--vs-toggle-button-variant-size-xs [data-size="xs"];
@custom-selector :--vs-toggle-button-variant-size-sm [data-size="sm"];
@custom-selector :--vs-toggle-button-variant-size-md [data-size="md"];
@custom-selector :--vs-toggle-button-variant-size-lg [data-size="lg"];
@custom-selector :--vs-toggle-button-variant-size-xl [data-size="xl"];
@custom-selector :--vs-toggle-button-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-toggle-button-variant-radius-full [data-radius="full"];
@custom-selector :--vs-toggle-button-variant-status-enabled :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-toggle-button-variant-status-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-toggle-button-variant-status-soft-disabled [data-status="soft-disabled"];
@custom-selector :--vs-toggle-button-variant-is-selected [data-selected], [aria-selected];
@custom-selector :--vs-toggle-button-variant-hover :hover, [data-hovered];
@custom-selector :--vs-toggle-button-variant-pressed :active, [data-pressed];
@custom-selector :--vs-toggle-button-variant-focus :focus, [data-focused];
@custom-selector :--vs-toggle-button-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-toggle-button-group-variant-tone-accent [data-tone="accent"];
@custom-selector :--vs-toggle-button-group-variant-tone-neutral [data-tone="neutral"];
@custom-selector :--vs-toggle-button-group-variant-visual-bold [data-visual="bold"];
@custom-selector :--vs-toggle-button-group-variant-visual-soft [data-visual="soft"];
@custom-selector :--vs-toggle-button-group-variant-visual-plain [data-visual="plain"];
@custom-selector :--vs-toggle-button-group-variant-with-outline [data-with-outline];
@custom-selector :--vs-toggle-button-group-variant-with-outline-false :not([data-with-outline]);
@custom-selector :--vs-toggle-button-group-variant-radius-sm [data-radius="sm"];
@custom-selector :--vs-toggle-button-group-variant-radius-full [data-radius="full"];
@custom-selector :--vs-toggle-button-group-variant-size-2xs [data-size="2xs"];
@custom-selector :--vs-toggle-button-group-variant-size-xs [data-size="xs"];
@custom-selector :--vs-toggle-button-group-variant-size-sm [data-size="sm"];
@custom-selector :--vs-toggle-button-group-variant-size-md [data-size="md"];
@custom-selector :--vs-toggle-button-group-variant-size-lg [data-size="lg"];
@custom-selector :--vs-toggle-button-group-variant-size-xl [data-size="xl"];
@custom-selector :--vs-toggle-button-group-variant-segmented [data-segmented];
@custom-selector :--vs-toggle-button-group-variant-orientation-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-toggle-button-group-variant-orientation-vertical [data-orientation="vertical"];