@media (forced-colors: active) {
  :root {
    --vs-outline-focus-ring-color: var(--vs-border-color-high-contrast-highlight);
  }
}

@media (forced-colors: active) {
  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"]) {
    --vs-button-opacity: var(--vs-opacity-disabled-high-contrast);
  }

  .vsc-button[data-tone="accent"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button-primary);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button-primary);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button-primary);
  }

  .vsc-button[data-tone="accent"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="accent"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="critical"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="critical"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="critical"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="neutral"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="neutral"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="neutral"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="static-black"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="static-black"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="static-black"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="static-white"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="static-white"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button[data-tone="static-white"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: ButtonBorder;
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="accent"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button-primary);
    --vs-button-background-color: var(--vs-background-color-high-contrast-muted);
    --vs-button-border-color: var(--vs-border-color-high-contrast-muted);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="accent"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="accent"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="critical"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="critical"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="critical"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="neutral"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="neutral"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="neutral"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="static-black"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="static-black"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="static-black"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="static-white"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="static-white"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="static-white"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-button);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button-primary);
    --vs-button-background-color: var(--vs-background-color-high-contrast-highlight);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-button-primary);
    --vs-button-background-color: var(--vs-background-color-high-contrast-highlight);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="critical"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="critical"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="critical"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-black"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-black"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-black"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-white"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-white"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-white"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="critical"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="critical"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="critical"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-black"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-black"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-black"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-white"][data-visual="bold"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-white"][data-visual="outline"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="static-white"][data-visual="plain"] {
    --vs-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-button-background-color: var(--vs-background-color-high-contrast-button);
    --vs-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }
}

@media (forced-colors: active) {
  .vsc-dialog {
    --vs-dialog-outline-color: var(--vs-outline-forced-colors-color);
    --vs-dialog-outline-width: var(--vs-outline-forced-colors-width);
    --vs-dialog-outline-style: var(--vs-outline-style-solid);
    --vs-dialog-outline-offset: var(--vs-outline-forced-colors-offset);
  }

  .vsc-dialog[data-size="fill"] {
    --vs-dialog-border-color: var(--vs-border-forced-colors-color);
    --vs-dialog-border-width: var(--vs-border-forced-colors-width);
    --vs-dialog-border-style: var(--vs-border-style-solid);
  }
}

@media (forced-colors: active) {
  .vsc-drawer {
    --vs-drawer-outline-color: var(--vs-outline-forced-colors-color);
    --vs-drawer-outline-width: var(--vs-outline-forced-colors-width);
    --vs-drawer-outline-style: var(--vs-outline-style-solid);
    --vs-drawer-outline-offset: var(--vs-outline-forced-colors-offset);
  }

  .vsc-drawer[data-size="full"] {
    --vs-drawer-border-color: var(--vs-border-forced-colors-color);
    --vs-drawer-border-width: var(--vs-border-forced-colors-width);
    --vs-drawer-border-style: var(--vs-border-style-solid);
  }
}

@media (forced-colors: active) {
  .vsc-icon[data-emphasis="50"][data-tone="accent"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="80"][data-tone="accent"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="90"][data-tone="accent"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="50"][data-tone="informative"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="80"][data-tone="informative"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="90"][data-tone="informative"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="50"][data-tone="success"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="80"][data-tone="success"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="90"][data-tone="success"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="50"][data-tone="caution"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="80"][data-tone="caution"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="90"][data-tone="caution"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="50"][data-tone="critical"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="80"][data-tone="critical"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="90"][data-tone="critical"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="50"][data-tone="neutral"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="80"][data-tone="neutral"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="90"][data-tone="neutral"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="50"][data-tone="static-black"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="80"][data-tone="static-black"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="90"][data-tone="static-black"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="50"][data-tone="static-white"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="80"][data-tone="static-white"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-icon[data-emphasis="90"][data-tone="static-white"] {
    --vs-icon-color: var(--vs-text-color-high-contrast-base);
  }
}

@media (forced-colors: active) {
  .vsc-link:is(:disabled, [data-disabled], [data-status="disabled"]) {
    --vs-link-opacity: var(--vs-opacity-disabled-high-contrast);
  }
}

@media (forced-colors: active) {
  .vsc-meter[data-tone="informative"] {
    --vs-meter-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-meter[data-tone="success"] {
    --vs-meter-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-meter[data-tone="caution"] {
    --vs-meter-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-meter[data-tone="critical"] {
    --vs-meter-fill-color: var(--vs-background-color-high-contrast-highlight);
  }
}

@media (forced-colors: active) {
  .vsc-popover {
    --vs-popover-outline-color: var(--vs-outline-forced-colors-color);
    --vs-popover-outline-width: var(--vs-outline-forced-colors-width);
    --vs-popover-outline-style: var(--vs-outline-style-solid);
    --vs-popover-outline-offset: var(--vs-outline-forced-colors-offset);
  }
}

@media (forced-colors: active) {
  .vsc-progress-bar[data-tone="informative"] {
    --vs-progress-bar-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-progress-bar[data-tone="success"] {
    --vs-progress-bar-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-progress-bar[data-tone="caution"] {
    --vs-progress-bar-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-progress-bar[data-tone="critical"] {
    --vs-progress-bar-fill-color: var(--vs-background-color-high-contrast-highlight);
  }
}

@media (forced-colors: active) {
  .vsc-separator {
    --vs-separator-color: var(--vs-border-color-high-contrast-base);
  }
}

@media (forced-colors: active) {
  .vsc-spinner {
    --vs-spinner-track-border-color: var(--vs-text-color-high-contrast-base);
  }

  .vsc-spinner[data-tone="accent"] {
    --vs-spinner-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-spinner[data-tone="informative"] {
    --vs-spinner-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-spinner[data-tone="success"] {
    --vs-spinner-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-spinner[data-tone="caution"] {
    --vs-spinner-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-spinner[data-tone="critical"] {
    --vs-spinner-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-spinner[data-tone="neutral"] {
    --vs-spinner-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-spinner[data-tone="static-black"] {
    --vs-spinner-fill-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-spinner[data-tone="static-white"] {
    --vs-spinner-fill-color: var(--vs-background-color-high-contrast-highlight);
  }
}

@media (forced-colors: active) {
  .vsc-switch-field {
    --vs-switch-field-indicator-track-border-color: ButtonBorder;
    --vs-switch-field-indicator-thumb-background-color: var(--vs-background-color-high-contrast-button);
  }

  .vsc-switch-field:has(input:checked) {
    --vs-switch-field-indicator-track-background-color: var(--vs-background-color-high-contrast-highlight);
    --vs-switch-field-indicator-thumb-background-color: var(--vs-background-color-high-contrast-button);
  }
}

@media (forced-colors: active) {
  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"]) {
    --vs-toggle-button-opacity: var(--vs-opacity-disabled-high-contrast);
  }

  .vsc-toggle-button[data-tone="accent"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonBorder;
  }

  .vsc-toggle-button[data-tone="accent"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonBorder;
  }

  .vsc-toggle-button[data-tone="accent"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonBorder;
  }

  .vsc-toggle-button[data-tone="neutral"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonBorder;
  }

  .vsc-toggle-button[data-tone="neutral"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonBorder;
  }

  .vsc-toggle-button[data-tone="neutral"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonBorder;
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="accent"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonFace;
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="accent"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonFace;
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="accent"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonFace;
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="neutral"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonFace;
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="neutral"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonFace;
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"])[data-tone="neutral"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-muted);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: ButtonFace;
  }

  .vsc-toggle-button:is([data-selected], [aria-selected])[data-tone="accent"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-button-primary);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-button-primary);
  }

  .vsc-toggle-button:is([data-selected], [aria-selected])[data-tone="accent"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-button-primary);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-button-primary);
  }

  .vsc-toggle-button:is([data-selected], [aria-selected])[data-tone="accent"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-button-primary);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-button-primary);
  }

  .vsc-toggle-button:is([data-selected], [aria-selected])[data-tone="neutral"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-button-primary);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-button-primary);
  }

  .vsc-toggle-button:is([data-selected], [aria-selected])[data-tone="neutral"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-button-primary);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-button-primary);
  }

  .vsc-toggle-button:is([data-selected], [aria-selected])[data-tone="neutral"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-button-primary);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-button-primary);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-highlight);
    --vs-toggle-button-background-color: ButtonFace;
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"]):is([data-selected], [aria-selected])[data-tone="accent"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-muted);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-muted);
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"]):is([data-selected], [aria-selected])[data-tone="accent"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-muted);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-muted);
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"]):is([data-selected], [aria-selected])[data-tone="accent"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-muted);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-muted);
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"]):is([data-selected], [aria-selected])[data-tone="neutral"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-muted);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-muted);
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"]):is([data-selected], [aria-selected])[data-tone="neutral"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-muted);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-muted);
  }

  .vsc-toggle-button:is(:disabled, [data-disabled], [data-status="disabled"]):is([data-selected], [aria-selected])[data-tone="neutral"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-muted);
    --vs-toggle-button-border-color: var(--vs-border-color-high-contrast-muted);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:hover, [data-hovered]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="accent"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="bold"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="soft"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }

  .vsc-toggle-button:is(:active, [data-pressed]):is([data-selected], [aria-selected]):not(:disabled, [data-disabled], [aria-disabled])[data-tone="neutral"][data-visual="plain"] {
    --vs-toggle-button-text-color: var(--vs-text-color-high-contrast-button);
    --vs-toggle-button-background-color: var(--vs-background-color-high-contrast-highlight);
  }
}

@media (forced-colors: active) {
  .vsc-tooltip {
    --vs-tooltip-outline-color: var(--vs-outline-forced-colors-color);
    --vs-tooltip-outline-width: var(--vs-outline-forced-colors-width);
    --vs-tooltip-outline-style: var(--vs-outline-style-solid);
    --vs-tooltip-outline-offset: var(--vs-outline-forced-colors-offset);
  }
}
