@media (color-gamut: p3) {
  :root {
    --vs-color-amber-1: oklch(0.994 0.0028 84.6245);
    --vs-color-amber-2: oklch(0.9862 0.024 100.2576);
    --vs-color-amber-3: oklch(0.969 0.0686 100.3599);
    --vs-color-amber-4: oklch(0.9454 0.1043 98.1918);
    --vs-color-amber-5: oklch(0.9184 0.1333 98.3956);
    --vs-color-amber-6: oklch(0.8812 0.1237 93.2376);
    --vs-color-amber-7: oklch(0.8274 0.122 86.1754);
    --vs-color-amber-8: oklch(0.7582 0.1404 76.7011);
    --vs-color-amber-9: oklch(0.8562 0.1778 81.3702);
    --vs-color-amber-10: oklch(0.8315 0.1679 80.9378);
    --vs-color-amber-11: oklch(0.5692 0.1439 67.2809);
    --vs-color-amber-12: oklch(0.3519 0.0485 53.7371);
    --vs-color-amber-alpha-1: oklch(0.6615 0.1599 73.4446 / 0.016);
    --vs-color-amber-alpha-2: oklch(0.843 0.2027 100.0384 / 0.079);
    --vs-color-amber-alpha-3: oklch(0.8863 0.2131 99.8787 / 0.22);
    --vs-color-amber-alpha-4: oklch(0.8685 0.206 94.9346 / 0.35);
    --vs-color-amber-alpha-5: oklch(0.8473 0.2013 95.7775 / 0.475);
    --vs-color-amber-alpha-6: oklch(0.7764 0.183 86.7975 / 0.495);
    --vs-color-amber-alpha-7: oklch(0.7037 0.1687 78.1719 / 0.557);
    --vs-color-amber-alpha-8: oklch(0.6665 0.1676 68.1274 / 0.699);
    --vs-color-amber-alpha-9: oklch(0.8162 0.1987 74.0465 / 0.742);
    --vs-color-amber-alpha-10: oklch(0.7801 0.1904 73.4196 / 0.726);
    --vs-color-amber-alpha-11: oklch(0.5692 0.1439 67.2809);
    --vs-color-amber-alpha-12: oklch(0.3519 0.0485 53.7371);
    --vs-color-amber-dark-1: oklch(0.1836 0.0126 77.2675);
    --vs-color-amber-dark-2: oklch(0.2117 0.0179 78.6761);
    --vs-color-amber-dark-3: oklch(0.2575 0.0437 74.5581);
    --vs-color-amber-dark-4: oklch(0.2962 0.0715 76.2475);
    --vs-color-amber-dark-5: oklch(0.3369 0.0812 76.4134);
    --vs-color-amber-dark-6: oklch(0.3871 0.0784 75.0914);
    --vs-color-amber-dark-7: oklch(0.4532 0.0817 74.5489);
    --vs-color-amber-dark-8: oklch(0.536 0.0964 73.5743);
    --vs-color-amber-dark-9: oklch(0.8562 0.1778 81.3702);
    --vs-color-amber-dark-10: oklch(0.9015 0.2065 96.9822);
    --vs-color-amber-dark-11: oklch(0.8706 0.1754 85.0678);
    --vs-color-amber-dark-12: oklch(0.9349 0.0715 85.9893);
    --vs-color-amber-dark-alpha-1: oklch(0.68 0.2614 36.1316 / 0.017);
    --vs-color-amber-dark-alpha-2: oklch(0.7973 0.1977 70.4069 / 0.047);
    --vs-color-amber-dark-alpha-3: oklch(0.7803 0.2042 62.6647 / 0.118);
    --vs-color-amber-dark-alpha-4: oklch(0.7635 0.2099 57.4225 / 0.185);
    --vs-color-amber-dark-alpha-5: oklch(0.7771 0.2052 61.66 / 0.24);
    --vs-color-amber-dark-alpha-6: oklch(0.8051 0.1956 69.3308 / 0.299);
    --vs-color-amber-dark-alpha-7: oklch(0.8312 0.1753 72.4006 / 0.383);
    --vs-color-amber-dark-alpha-8: oklch(0.8376 0.1672 73.2972 / 0.5);
    --vs-color-amber-dark-alpha-9: oklch(0.8558 0.1779 81.2476);
    --vs-color-amber-dark-alpha-10: oklch(0.902 0.2068 97.1081);
    --vs-color-amber-dark-alpha-11: oklch(0.8706 0.1754 85.0678);
    --vs-color-amber-dark-alpha-12: oklch(0.9349 0.0715 85.9893);
    --vs-color-black-alpha-1: oklch(0 0 0 / 0.05);
    --vs-color-black-alpha-2: oklch(0 0 0 / 0.1);
    --vs-color-black-alpha-3: oklch(0 0 0 / 0.15);
    --vs-color-black-alpha-4: oklch(0 0 0 / 0.2);
    --vs-color-black-alpha-5: oklch(0 0 0 / 0.3);
    --vs-color-black-alpha-6: oklch(0 0 0 / 0.4);
    --vs-color-black-alpha-7: oklch(0 0 0 / 0.5);
    --vs-color-black-alpha-8: oklch(0 0 0 / 0.6);
    --vs-color-black-alpha-9: oklch(0 0 0 / 0.7);
    --vs-color-black-alpha-10: oklch(0 0 0 / 0.8);
    --vs-color-black-alpha-11: oklch(0 0 0 / 0.9);
    --vs-color-black-alpha-12: oklch(0 0 0 / 0.95);
    --vs-color-blue-1: oklch(0.9932 0.0033 247.6436);
    --vs-color-blue-2: oklch(0.9815 0.0096 243.2578);
    --vs-color-blue-3: oklch(0.96 0.0199 236.7126);
    --vs-color-blue-4: oklch(0.9373 0.0371 239.0266);
    --vs-color-blue-5: oklch(0.906 0.0535 242.8032);
    --vs-color-blue-6: oklch(0.8638 0.0686 243.1817);
    --vs-color-blue-7: oklch(0.8092 0.0884 243.3396);
    --vs-color-blue-8: oklch(0.7348 0.1211 242.9952);
    --vs-color-blue-9: oklch(0.6493 0.193 251.8132);
    --vs-color-blue-10: oklch(0.6211 0.1837 251.9175);
    --vs-color-blue-11: oklch(0.5577 0.1889 253.0097);
    --vs-color-blue-12: oklch(0.324 0.0965 258.9556);
    --vs-color-blue-alpha-1: oklch(0.622 0.2275 250.4373 / 0.016);
    --vs-color-blue-alpha-2: oklch(0.604 0.1987 245.8124 / 0.04);
    --vs-color-blue-alpha-3: oklch(0.601 0.2034 246.9086 / 0.087);
    --vs-color-blue-alpha-4: oklch(0.6375 0.2204 247.7717 / 0.146);
    --vs-color-blue-alpha-5: oklch(0.6124 0.2261 250.4815 / 0.212);
    --vs-color-blue-alpha-6: oklch(0.5801 0.2167 250.951 / 0.291);
    --vs-color-blue-alpha-7: oklch(0.5515 0.2063 251.0201 / 0.393);
    --vs-color-blue-alpha-8: oklch(0.5468 0.2037 250.7572 / 0.55);
    --vs-color-blue-alpha-9: oklch(0.5636 0.2425 255.635 / 0.753);
    --vs-color-blue-alpha-10: oklch(0.5293 0.2284 255.7275 / 0.765);
    --vs-color-blue-alpha-11: oklch(0.5577 0.1889 253.0097);
    --vs-color-blue-alpha-12: oklch(0.324 0.0965 258.9556);
    --vs-color-blue-dark-1: oklch(0.1932 0.0258 256.7896);
    --vs-color-blue-dark-2: oklch(0.213 0.0295 258.8375);
    --vs-color-blue-dark-3: oklch(0.2741 0.0669 253.9623);
    --vs-color-blue-dark-4: oklch(0.317 0.1002 248.2996);
    --vs-color-blue-dark-5: oklch(0.3649 0.1084 249.7239);
    --vs-color-blue-dark-6: oklch(0.4161 0.1125 251.6604);
    --vs-color-blue-dark-7: oklch(0.4748 0.1211 252.8387);
    --vs-color-blue-dark-8: oklch(0.5413 0.1396 253.2114);
    --vs-color-blue-dark-9: oklch(0.6493 0.193 251.8132);
    --vs-color-blue-dark-10: oklch(0.689 0.1697 251.4566);
    --vs-color-blue-dark-11: oklch(0.7679 0.1347 248.8439);
    --vs-color-blue-dark-12: oklch(0.9072 0.0511 238.2734);
    --vs-color-blue-dark-alpha-1: oklch(0.5393 0.2749 259.8495 / 0.059);
    --vs-color-blue-dark-alpha-2: oklch(0.5841 0.2408 257.0121 / 0.085);
    --vs-color-blue-dark-alpha-3: oklch(0.6003 0.2368 255.7822 / 0.219);
    --vs-color-blue-dark-alpha-4: oklch(0.5984 0.2401 253.453 / 0.324);
    --vs-color-blue-dark-alpha-5: oklch(0.6221 0.2259 251.8443 / 0.4);
    --vs-color-blue-dark-alpha-6: oklch(0.6533 0.2051 251.9937 / 0.475);
    --vs-color-blue-dark-alpha-7: oklch(0.6735 0.1912 252.9386 / 0.572);
    --vs-color-blue-dark-alpha-8: oklch(0.6797 0.1869 253.3011 / 0.702);
    --vs-color-blue-dark-alpha-9: oklch(0.6631 0.1973 251.5127 / 0.967);
    --vs-color-blue-dark-alpha-10: oklch(0.7045 0.1726 251.4437 / 0.971);
    --vs-color-blue-dark-alpha-11: oklch(0.7679 0.1347 248.8439);
    --vs-color-blue-dark-alpha-12: oklch(0.9072 0.0511 238.2734);
    --vs-color-gray-1: oklch(0.9909 0 0);
    --vs-color-gray-2: oklch(0.981 0 0);
    --vs-color-gray-3: oklch(0.9535 0 0);
    --vs-color-gray-4: oklch(0.9296 0 167.4712);
    --vs-color-gray-5: oklch(0.9079 0 180);
    --vs-color-gray-6: oklch(0.8838 0 192.5288);
    --vs-color-gray-7: oklch(0.8508 0 213.6901);
    --vs-color-gray-8: oklch(0.791 0 189.4623);
    --vs-color-gray-9: oklch(0.6435 0 0);
    --vs-color-gray-10: oklch(0.6085 0 0);
    --vs-color-gray-11: oklch(0.5031 0 187.125);
    --vs-color-gray-12: oklch(0.243 0 186.7098);
    --vs-color-gray-alpha-1: oklch(0 0 0 / 0.012);
    --vs-color-gray-alpha-2: oklch(0 0 0 / 0.024);
    --vs-color-gray-alpha-3: oklch(0 0 0 / 0.063);
    --vs-color-gray-alpha-4: oklch(0 0 0 / 0.09);
    --vs-color-gray-alpha-5: oklch(0 0 0 / 0.122);
    --vs-color-gray-alpha-6: oklch(0 0 0 / 0.153);
    --vs-color-gray-alpha-7: oklch(0 0 0 / 0.192);
    --vs-color-gray-alpha-8: oklch(0 0 0 / 0.267);
    --vs-color-gray-alpha-9: oklch(0 0 0 / 0.447);
    --vs-color-gray-alpha-10: oklch(0 0 0 / 0.486);
    --vs-color-gray-alpha-11: oklch(0 0 0 / 0.608);
    --vs-color-gray-alpha-12: oklch(0 0 0 / 0.875);
    --vs-color-gray-dark-1: oklch(0.178 0 0);
    --vs-color-gray-dark-2: oklch(0.2134 0 180);
    --vs-color-gray-dark-3: oklch(0.2537 0 180);
    --vs-color-gray-dark-4: oklch(0.2832 0 173.6598);
    --vs-color-gray-dark-5: oklch(0.313 0 180);
    --vs-color-gray-dark-6: oklch(0.349 0 180);
    --vs-color-gray-dark-7: oklch(0.4023 0 0);
    --vs-color-gray-dark-8: oklch(0.4877 0 180);
    --vs-color-gray-dark-9: oklch(0.5379 0 225);
    --vs-color-gray-dark-10: oklch(0.5843 0 180);
    --vs-color-gray-dark-11: oklch(0.77 0 180);
    --vs-color-gray-dark-12: oklch(0.9489 0 0);
    --vs-color-gray-dark-alpha-1: oklch(0 0 0 / 0);
    --vs-color-gray-dark-alpha-2: oklch(1 0 180 / 0.034);
    --vs-color-gray-dark-alpha-3: oklch(1 0 180 / 0.071);
    --vs-color-gray-dark-alpha-4: oklch(1 0 180 / 0.105);
    --vs-color-gray-dark-alpha-5: oklch(1 0 180 / 0.134);
    --vs-color-gray-dark-alpha-6: oklch(1 0 180 / 0.172);
    --vs-color-gray-dark-alpha-7: oklch(1 0 180 / 0.231);
    --vs-color-gray-dark-alpha-8: oklch(1 0 180 / 0.332);
    --vs-color-gray-dark-alpha-9: oklch(1 0 180 / 0.391);
    --vs-color-gray-dark-alpha-10: oklch(1 0 180 / 0.445);
    --vs-color-gray-dark-alpha-11: oklch(1 0 180 / 0.685);
    --vs-color-gray-dark-alpha-12: oklch(1 0 180 / 0.929);
    --vs-color-green-1: oklch(0.9943 0.0043 159.0553);
    --vs-color-green-2: oklch(0.9816 0.0091 155.3079);
    --vs-color-green-3: oklch(0.9588 0.0229 156.3794);
    --vs-color-green-4: oklch(0.9325 0.0364 156.601);
    --vs-color-green-5: oklch(0.8995 0.0496 157.2228);
    --vs-color-green-6: oklch(0.857 0.0645 157.8858);
    --vs-color-green-7: oklch(0.7977 0.0839 159.0192);
    --vs-color-green-8: oklch(0.7144 0.1124 160.5987);
    --vs-color-green-9: oklch(0.6405 0.1327 157.7509);
    --vs-color-green-10: oklch(0.6112 0.1263 158.3069);
    --vs-color-green-11: oklch(0.529 0.133 158.332);
    --vs-color-green-12: oklch(0.3218 0.0474 164.6159);
    --vs-color-green-alpha-1: oklch(0.6928 0.2644 150.0249 / 0.016);
    --vs-color-green-alpha-2: oklch(0.557 0.2253 147.6469 / 0.036);
    --vs-color-green-alpha-3: oklch(0.579 0.2336 147.9592 / 0.087);
    --vs-color-green-alpha-4: oklch(0.5732 0.2311 148.0624 / 0.142);
    --vs-color-green-alpha-5: oklch(0.5401 0.2123 149.048 / 0.204);
    --vs-color-green-alpha-6: oklch(0.5236 0.2039 149.3918 / 0.283);
    --vs-color-green-alpha-7: oklch(0.5007 0.19 150.3749 / 0.389);
    --vs-color-green-alpha-8: oklch(0.4961 0.1782 152.7955 / 0.55);
    --vs-color-green-alpha-9: oklch(0.4779 0.1783 151.174 / 0.667);
    --vs-color-green-alpha-10: oklch(0.4486 0.1661 151.5047 / 0.691);
    --vs-color-green-alpha-11: oklch(0.529 0.133 158.332);
    --vs-color-green-alpha-12: oklch(0.3218 0.0474 164.6159);
    --vs-color-green-dark-1: oklch(0.1888 0.0127 163.2679);
    --vs-color-green-dark-2: oklch(0.2127 0.016 162.225);
    --vs-color-green-dark-3: oklch(0.2714 0.0388 162.6679);
    --vs-color-green-dark-4: oklch(0.3182 0.0573 161.5439);
    --vs-color-green-dark-5: oklch(0.3648 0.066 161.1128);
    --vs-color-green-dark-6: oklch(0.4134 0.0732 160.732);
    --vs-color-green-dark-7: oklch(0.4674 0.0828 159.9082);
    --vs-color-green-dark-8: oklch(0.5275 0.0962 159.1928);
    --vs-color-green-dark-9: oklch(0.6405 0.1327 157.7509);
    --vs-color-green-dark-10: oklch(0.6755 0.1412 157.5602);
    --vs-color-green-dark-11: oklch(0.7797 0.1657 157.2305);
    --vs-color-green-dark-12: oklch(0.9048 0.0828 158.2761);
    --vs-color-green-dark-alpha-1: oklch(0.847 0.337 148.6656 / 0.017);
    --vs-color-green-dark-alpha-2: oklch(0.8644 0.2354 157.9036 / 0.043);
    --vs-color-green-dark-alpha-3: oklch(0.8789 0.227 159.1217 / 0.114);
    --vs-color-green-dark-alpha-4: oklch(0.875 0.2371 158.5639 / 0.173);
    --vs-color-green-dark-alpha-5: oklch(0.8853 0.2179 159.8036 / 0.232);
    --vs-color-green-dark-alpha-6: oklch(0.8935 0.1992 160.0152 / 0.29);
    --vs-color-green-dark-alpha-7: oklch(0.8978 0.1915 158.6698 / 0.362);
    --vs-color-green-dark-alpha-8: oklch(0.9003 0.1855 159.0906 / 0.442);
    --vs-color-green-dark-alpha-9: oklch(0.8927 0.1981 157.3776 / 0.61);
    --vs-color-green-dark-alpha-10: oklch(0.8955 0.1991 157.0981 / 0.66);
    --vs-color-green-dark-alpha-11: oklch(0.7797 0.1657 157.2305);
    --vs-color-green-dark-alpha-12: oklch(0.9048 0.0828 158.2761);
    --vs-color-mauve-1: oklch(0.9918 0.0018 321.1325);
    --vs-color-mauve-2: oklch(0.9832 0.0033 311.22);
    --vs-color-mauve-3: oklch(0.9556 0.0059 314.2362);
    --vs-color-mauve-4: oklch(0.9316 0.0078 310.0099);
    --vs-color-mauve-5: oklch(0.909 0.0101 306.6077);
    --vs-color-mauve-6: oklch(0.886 0.0116 303.9518);
    --vs-color-mauve-7: oklch(0.8536 0.0143 300.5923);
    --vs-color-mauve-8: oklch(0.7936 0.0193 293.522);
    --vs-color-mauve-9: oklch(0.6458 0.0195 292.616);
    --vs-color-mauve-10: oklch(0.6106 0.0185 293.0717);
    --vs-color-mauve-11: oklch(0.5048 0.016 296.0849);
    --vs-color-mauve-12: oklch(0.2446 0.0134 298.0452);
    --vs-color-mauve-alpha-1: oklch(0.3398 0.1617 331.3862 / 0.012);
    --vs-color-mauve-alpha-2: oklch(0.2691 0.1388 301.2969 / 0.024);
    --vs-color-mauve-alpha-3: oklch(0.2164 0.1142 301.8963 / 0.063);
    --vs-color-mauve-alpha-4: oklch(0.1923 0.0986 297.0338 / 0.095);
    --vs-color-mauve-alpha-5: oklch(0.1947 0.1031 297.5174 / 0.126);
    --vs-color-mauve-alpha-6: oklch(0.162 0.0898 290.1342 / 0.153);
    --vs-color-mauve-alpha-7: oklch(0.1699 0.0892 293.4366 / 0.197);
    --vs-color-mauve-alpha-8: oklch(0.149 0.0896 275.5663 / 0.271);
    --vs-color-mauve-alpha-9: oklch(0.1208 0.0638 286.3639 / 0.451);
    --vs-color-mauve-alpha-10: oklch(0.11 0.0579 281.4691 / 0.491);
    --vs-color-mauve-alpha-11: oklch(0.0946 0.0525 300.3976 / 0.612);
    --vs-color-mauve-alpha-12: oklch(0.0731 0.0401 303.3845 / 0.879);
    --vs-color-mauve-dark-1: oklch(0.1799 0.0043 307.789);
    --vs-color-mauve-dark-2: oklch(0.2152 0.0041 307.8441);
    --vs-color-mauve-dark-3: oklch(0.255 0.0055 306.4754);
    --vs-color-mauve-dark-4: oklch(0.2845 0.0076 307.7539);
    --vs-color-mauve-dark-5: oklch(0.3138 0.009 306.9456);
    --vs-color-mauve-dark-6: oklch(0.3501 0.0101 303.9832);
    --vs-color-mauve-dark-7: oklch(0.4016 0.0122 304.4472);
    --vs-color-mauve-dark-8: oklch(0.4919 0.0159 300.7445);
    --vs-color-mauve-dark-9: oklch(0.5405 0.0169 293.9714);
    --vs-color-mauve-dark-10: oklch(0.5862 0.0167 295.3647);
    --vs-color-mauve-dark-11: oklch(0.7698 0.014 296.6076);
    --vs-color-mauve-dark-12: oklch(0.9494 0.0026 286.3498);
    --vs-color-mauve-dark-alpha-1: oklch(0 0 0 / 0);
    --vs-color-mauve-dark-alpha-2: oklch(0.9954 0.0033 311.2205 / 0.034);
    --vs-color-mauve-dark-alpha-3: oklch(0.9546 0.0221 289.5792 / 0.077);
    --vs-color-mauve-dark-alpha-4: oklch(0.9523 0.0321 310.9381 / 0.111);
    --vs-color-mauve-dark-alpha-5: oklch(0.9424 0.0353 303.5889 / 0.145);
    --vs-color-mauve-dark-alpha-6: oklch(0.9547 0.0282 306.1101 / 0.183);
    --vs-color-mauve-dark-alpha-7: oklch(0.9551 0.027 297.7404 / 0.246);
    --vs-color-mauve-dark-alpha-8: oklch(0.9483 0.0313 297.9871 / 0.361);
    --vs-color-mauve-dark-alpha-9: oklch(0.9474 0.0311 295.466 / 0.424);
    --vs-color-mauve-dark-alpha-10: oklch(0.9524 0.0285 297.0933 / 0.479);
    --vs-color-mauve-dark-alpha-11: oklch(0.9743 0.0145 291.5722 / 0.712);
    --vs-color-mauve-dark-alpha-12: oklch(0.9946 0.0029 286.3459 / 0.937);
    --vs-color-plum-1: oklch(0.9933 0.0047 316.8675);
    --vs-color-plum-2: oklch(0.9831 0.0092 325.993);
    --vs-color-plum-3: oklch(0.9569 0.0274 325.4899);
    --vs-color-plum-4: oklch(0.9292 0.0436 324.8706);
    --vs-color-plum-5: oklch(0.8985 0.0574 324.3734);
    --vs-color-plum-6: oklch(0.8603 0.0723 323.9132);
    --vs-color-plum-7: oklch(0.8092 0.0915 323.1479);
    --vs-color-plum-8: oklch(0.7418 0.12 321.8752);
    --vs-color-plum-9: oklch(0.5789 0.1877 322.0895);
    --vs-color-plum-10: oklch(0.5527 0.181 322.0983);
    --vs-color-plum-11: oklch(0.5213 0.1728 322.024);
    --vs-color-plum-12: oklch(0.3376 0.1248 321.4058);
    --vs-color-plum-alpha-1: oklch(0.6045 0.3206 310.8092 / 0.012);
    --vs-color-plum-alpha-2: oklch(0.4847 0.2373 331.4377 / 0.028);
    --vs-color-plum-alpha-3: oklch(0.546 0.2773 324.2261 / 0.079);
    --vs-color-plum-alpha-4: oklch(0.5289 0.2686 324.1616 / 0.126);
    --vs-color-plum-alpha-5: oklch(0.5035 0.2576 322.5226 / 0.177);
    --vs-color-plum-alpha-6: oklch(0.4792 0.2461 321.2842 / 0.236);
    --vs-color-plum-alpha-7: oklch(0.4521 0.2333 319.8071 / 0.314);
    --vs-color-plum-alpha-8: oklch(0.4411 0.228 319.1676 / 0.42);
    --vs-color-plum-alpha-9: oklch(0.4275 0.2217 319.1131 / 0.687);
    --vs-color-plum-alpha-10: oklch(0.4046 0.2093 319.9088 / 0.71);
    --vs-color-plum-alpha-11: oklch(0.5213 0.1728 322.024);
    --vs-color-plum-alpha-12: oklch(0.3376 0.1248 321.4058);
    --vs-color-plum-dark-1: oklch(0.19 0.0175 326.9808);
    --vs-color-plum-dark-2: oklch(0.21 0.0311 327.6835);
    --vs-color-plum-dark-3: oklch(0.2657 0.0618 326.6652);
    --vs-color-plum-dark-4: oklch(0.3065 0.0883 325.2726);
    --vs-color-plum-dark-5: oklch(0.3434 0.0953 324.6339);
    --vs-color-plum-dark-6: oklch(0.3889 0.097 324.1982);
    --vs-color-plum-dark-7: oklch(0.4565 0.1064 323.4263);
    --vs-color-plum-dark-8: oklch(0.5451 0.1279 322.1612);
    --vs-color-plum-dark-9: oklch(0.5789 0.1877 322.0895);
    --vs-color-plum-dark-10: oklch(0.616 0.1821 322.1214);
    --vs-color-plum-dark-11: oklch(0.7859 0.1541 322.0582);
    --vs-color-plum-dark-12: oklch(0.9062 0.0551 325.8337);
    --vs-color-plum-dark-alpha-1: oklch(0.7126 0.3488 331.4369 / 0.026);
    --vs-color-plum-dark-alpha-2: oklch(0.7227 0.3149 327.2172 / 0.059);
    --vs-color-plum-dark-alpha-3: oklch(0.7296 0.2927 326.1168 / 0.148);
    --vs-color-plum-dark-alpha-4: oklch(0.7242 0.2969 325.4433 / 0.219);
    --vs-color-plum-dark-alpha-5: oklch(0.7418 0.2739 325.1715 / 0.269);
    --vs-color-plum-dark-alpha-6: oklch(0.76 0.2433 323.7653 / 0.328);
    --vs-color-plum-dark-alpha-7: oklch(0.7811 0.2147 322.8016 / 0.425);
    --vs-color-plum-dark-alpha-8: oklch(0.7893 0.2038 322.3791 / 0.568);
    --vs-color-plum-dark-alpha-9: oklch(0.7395 0.2527 321.7669 / 0.69);
    --vs-color-plum-dark-alpha-10: oklch(0.7556 0.2355 322.2736 / 0.732);
    --vs-color-plum-dark-alpha-11: oklch(0.7859 0.1541 322.0582);
    --vs-color-plum-dark-alpha-12: oklch(0.9062 0.0551 325.8337);
    --vs-color-red-1: oklch(0.9935 0.0031 22.7531);
    --vs-color-red-2: oklch(0.9832 0.0083 16.0248);
    --vs-color-red-3: oklch(0.9561 0.021 16.2276);
    --vs-color-red-4: oklch(0.9281 0.0473 16.6823);
    --vs-color-red-5: oklch(0.8961 0.062 17.3285);
    --vs-color-red-6: oklch(0.857 0.0746 17.8679);
    --vs-color-red-7: oklch(0.8072 0.0895 18.4449);
    --vs-color-red-8: oklch(0.745 0.1133 19.0891);
    --vs-color-red-9: oklch(0.6254 0.1935 22.9827);
    --vs-color-red-10: oklch(0.5999 0.1952 23.8895);
    --vs-color-red-11: oklch(0.5572 0.1978 25.1349);
    --vs-color-red-12: oklch(0.3391 0.109 16.6806);
    --vs-color-red-alpha-1: oklch(0.4851 0.2207 28.5743 / 0.012);
    --vs-color-red-alpha-2: oklch(0.5817 0.2663 28.7341 / 0.028);
    --vs-color-red-alpha-3: oklch(0.5446 0.2506 28.8666 / 0.075);
    --vs-color-red-alpha-4: oklch(0.6489 0.299 28.904 / 0.134);
    --vs-color-red-alpha-5: oklch(0.6083 0.2802 28.8924 / 0.189);
    --vs-color-red-alpha-6: oklch(0.5651 0.2592 29.0929 / 0.251);
    --vs-color-red-alpha-7: oklch(0.5187 0.2379 29.0756 / 0.33);
    --vs-color-red-alpha-8: oklch(0.4961 0.2277 29.0273 / 0.428);
    --vs-color-red-alpha-9: oklch(0.5224 0.2404 29.0691 / 0.675);
    --vs-color-red-alpha-10: oklch(0.5044 0.2317 29.1435 / 0.714);
    --vs-color-red-alpha-11: oklch(0.5572 0.1978 25.1349);
    --vs-color-red-alpha-12: oklch(0.3391 0.109 16.6806);
    --vs-color-red-dark-1: oklch(0.188 0.0133 19.3892);
    --vs-color-red-dark-2: oklch(0.2048 0.0215 14.7355);
    --vs-color-red-dark-3: oklch(0.2504 0.0643 13.1062);
    --vs-color-red-dark-4: oklch(0.2888 0.0959 14.289);
    --vs-color-red-dark-5: oklch(0.3316 0.1066 15.5316);
    --vs-color-red-dark-6: oklch(0.3826 0.1114 16.9293);
    --vs-color-red-dark-7: oklch(0.4506 0.1206 18.9105);
    --vs-color-red-dark-8: oklch(0.5436 0.1465 21.4373);
    --vs-color-red-dark-9: oklch(0.6254 0.1935 22.9827);
    --vs-color-red-dark-10: oklch(0.6646 0.1773 23.0922);
    --vs-color-red-dark-11: oklch(0.7837 0.1619 22.2884);
    --vs-color-red-dark-12: oklch(0.9022 0.0528 6.1393);
    --vs-color-red-dark-alpha-1: oklch(0.6444 0.2915 28.4242 / 0.03);
    --vs-color-red-dark-alpha-2: oklch(0.6832 0.2577 24.8799 / 0.055);
    --vs-color-red-dark-alpha-3: oklch(0.6656 0.281 21.7996 / 0.156);
    --vs-color-red-dark-alpha-4: oklch(0.66 0.2878 21.0251 / 0.236);
    --vs-color-red-dark-alpha-5: oklch(0.6733 0.2732 20.1682 / 0.303);
    --vs-color-red-dark-alpha-6: oklch(0.697 0.2478 19.3953 / 0.374);
    --vs-color-red-dark-alpha-7: oklch(0.7204 0.2229 20.3431 / 0.475);
    --vs-color-red-dark-alpha-8: oklch(0.7299 0.2128 21.9213 / 0.635);
    --vs-color-red-dark-alpha-9: oklch(0.7151 0.2275 23.0833 / 0.82);
    --vs-color-red-dark-alpha-10: oklch(0.7407 0.2019 22.9711 / 0.853);
    --vs-color-red-dark-alpha-11: oklch(0.7837 0.1619 22.2884);
    --vs-color-red-dark-alpha-12: oklch(0.9022 0.0528 6.1393);
    --vs-color-white-alpha-1: oklch(1 0 180 / 0.05);
    --vs-color-white-alpha-2: oklch(1 0 180 / 0.1);
    --vs-color-white-alpha-3: oklch(1 0 180 / 0.15);
    --vs-color-white-alpha-4: oklch(1 0 180 / 0.2);
    --vs-color-white-alpha-5: oklch(1 0 180 / 0.3);
    --vs-color-white-alpha-6: oklch(1 0 180 / 0.4);
    --vs-color-white-alpha-7: oklch(1 0 180 / 0.5);
    --vs-color-white-alpha-8: oklch(1 0 180 / 0.6);
    --vs-color-white-alpha-9: oklch(1 0 180 / 0.7);
    --vs-color-white-alpha-10: oklch(1 0 180 / 0.8);
    --vs-color-white-alpha-11: oklch(1 0 180 / 0.9);
    --vs-color-white-alpha-12: oklch(1 0 180 / 0.95);
  }
}
