@custom-selector :--vs-container :root;
@custom-selector :--vs-condition-mode-light [data-mode="light"];
@custom-selector :--vs-condition-mode-dark [data-mode="dark"];
@custom-selector :--vs-condition-theme-neutral [data-theme="neutral"];
@custom-selector :--vs-condition-theme-mono [data-theme="mono"];
@custom-selector :--vs-condition-theme-blue [data-theme="blue"];
@custom-selector :--vs-condition-theme-green [data-theme="green"];
@custom-selector :--vs-condition-theme-amber [data-theme="amber"];
@custom-selector :--vs-condition-theme-rose [data-theme="rose"];
@custom-selector :--vs-condition-theme-purple [data-theme="purple"];
@custom-selector :--vs-condition-theme-orange [data-theme="orange"];
@custom-selector :--vs-condition-theme-teal [data-theme="teal"];
@custom-selector :--vs-condition-theme-red [data-theme="red"];
@custom-selector :--vs-condition-theme-yellow [data-theme="yellow"];
@custom-selector :--vs-condition-theme-violet [data-theme="violet"];
@custom-selector :--vs-variant-hover :hover, [data-hovered];
@custom-selector :--vs-variant-pressed :active, [data-pressed];
@custom-selector :--vs-variant-focus :focus, [data-focused];
@custom-selector :--vs-variant-focus-within :focus-within;
@custom-selector :--vs-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-variant-enabled :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-variant-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-variant-soft-disabled [data-status="soft-disabled"];
@custom-selector :--vs-variant-pending [data-pending], [data-status="pending"];
@custom-selector :--vs-variant-selected [data-selected], [aria-selected];
@custom-selector :--vs-variant-input-valid :user-valid;
@custom-selector :--vs-variant-input-invalid :user-invalid, [data-invalid], [aria-invalid];
@custom-selector :--vs-variant-read-only [readonly], [data-readonly], [aria-readonly];
@custom-selector :--vs-variant-editable :not([readonly], [data-readonly], [aria-readonly]);
@custom-selector :--vs-variant-inert [inert], [data-inert];
@custom-selector :--vs-variant-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-variant-vertical [data-orientation="vertical"];
@custom-selector :--vs-button-variant-variant-default [data-variant="default"];
@custom-selector :--vs-button-variant-variant-destructive [data-variant="destructive"];
@custom-selector :--vs-button-variant-variant-outline [data-variant="outline"];
@custom-selector :--vs-button-variant-variant-secondary [data-variant="secondary"];
@custom-selector :--vs-button-variant-variant-ghost [data-variant="ghost"];
@custom-selector :--vs-button-variant-size-sm [data-size="sm"];
@custom-selector :--vs-button-variant-size-default [data-size="default"];
@custom-selector :--vs-button-variant-size-lg [data-size="lg"];
@custom-selector :--vs-button-variant-status-enabled :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-button-variant-status-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-button-variant-status-soft-disabled [data-status="soft-disabled"];
@custom-selector :--vs-button-variant-status-pending [data-pending], [data-status="pending"];
@custom-selector :--vs-button-variant-with-icon :has([slot*="icon"]);
@custom-selector :--vs-button-variant-hover :hover, [data-hovered];
@custom-selector :--vs-button-variant-pressed :active, [data-pressed];
@custom-selector :--vs-button-variant-focus :focus, [data-focused];
@custom-selector :--vs-button-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-icon-variant-size-sm [data-size="sm"];
@custom-selector :--vs-icon-variant-size-md [data-size="md"];
@custom-selector :--vs-icon-variant-size-lg [data-size="lg"];
@custom-selector :--vs-link-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-link-variant-hover :hover, [data-hovered];
@custom-selector :--vs-link-variant-pressed :active, [data-pressed];
@custom-selector :--vs-link-variant-focus :focus, [data-focused];
@custom-selector :--vs-link-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-link-variant-visited :visited;
@custom-selector :--vs-spinner-variant-size-sm [data-size="sm"];
@custom-selector :--vs-spinner-variant-size-md [data-size="md"];
@custom-selector :--vs-spinner-variant-size-lg [data-size="lg"];
@custom-selector :--vs-spinner-variant-is-delayed [data-delayed];