@custom-selector :--vs-container :root;
@custom-selector :--vs-condition-color-mode-light [data-color-mode="light"];
@custom-selector :--vs-condition-color-mode-dark [data-color-mode="dark"];
@custom-selector :--vs-condition-color-theme-light-default [data-color-theme="light-default"];
@custom-selector :--vs-condition-color-theme-light-colorblind [data-color-theme="light-colorblind"];
@custom-selector :--vs-condition-color-theme-light-tritanopia [data-color-theme="light-tritanopia"];
@custom-selector :--vs-condition-color-theme-dark-default [data-color-theme="dark-default"];
@custom-selector :--vs-condition-color-theme-dark-colorblind [data-color-theme="dark-colorblind"];
@custom-selector :--vs-condition-color-theme-dark-tritanopia [data-color-theme="dark-tritanopia"];
@custom-selector :--vs-condition-color-theme-soft-dark [data-color-theme="soft-dark"];
@custom-selector :--vs-condition-increase-contrast-on [data-increase-contrast="on"];
@custom-selector :--vs-condition-increase-contrast-off [data-increase-contrast="off"];
@custom-selector :--vs-condition-motion-enabled [data-motion="enabled"];
@custom-selector :--vs-condition-motion-disabled [data-motion="disabled"];
@custom-selector :--vs-variant-hover :hover, [data-hovered];
@custom-selector :--vs-variant-pressed :active, [data-pressed];
@custom-selector :--vs-variant-focus :focus, [data-focused];
@custom-selector :--vs-variant-focus-within :focus-within;
@custom-selector :--vs-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-variant-enabled :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-variant-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-variant-soft-disabled [data-status="soft-disabled"];
@custom-selector :--vs-variant-pending [data-pending], [data-status="pending"];
@custom-selector :--vs-variant-selected [data-selected], [aria-selected];
@custom-selector :--vs-variant-input-valid :user-valid;
@custom-selector :--vs-variant-input-invalid :user-invalid, [data-invalid], [aria-invalid];
@custom-selector :--vs-variant-read-only [readonly], [data-readonly], [aria-readonly];
@custom-selector :--vs-variant-editable :not([readonly], [data-readonly], [aria-readonly]);
@custom-selector :--vs-variant-inert [inert], [data-inert];
@custom-selector :--vs-variant-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-variant-vertical [data-orientation="vertical"];
@custom-selector :--vs-button-variant-variant-default [data-v-variant="default"];
@custom-selector :--vs-button-variant-variant-primary [data-v-variant="primary"];
@custom-selector :--vs-button-variant-variant-invisible [data-v-variant="invisible"];
@custom-selector :--vs-button-variant-variant-danger [data-v-variant="danger"];
@custom-selector :--vs-button-variant-size-small [data-v-size="small"];
@custom-selector :--vs-button-variant-size-medium [data-v-size="medium"];
@custom-selector :--vs-button-variant-size-large [data-v-size="large"];
@custom-selector :--vs-button-variant-status-enabled :not(:disabled, [data-disabled], [aria-disabled]);
@custom-selector :--vs-button-variant-status-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-button-variant-status-soft-disabled [data-status="soft-disabled"];
@custom-selector :--vs-button-variant-status-pending [data-pending], [data-status="pending"];
@custom-selector :--vs-button-variant-hover :hover, [data-hovered];
@custom-selector :--vs-button-variant-pressed :active, [data-pressed];
@custom-selector :--vs-button-variant-focus :focus, [data-focused];
@custom-selector :--vs-button-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-link-variant-is-disabled :disabled, [data-disabled], [data-status="disabled"];
@custom-selector :--vs-link-variant-hover :hover, [data-hovered];
@custom-selector :--vs-link-variant-pressed :active, [data-pressed];
@custom-selector :--vs-link-variant-focus :focus, [data-focused];
@custom-selector :--vs-link-variant-focus-visible :focus-visible:not([data-focused]), [data-focus-visible];
@custom-selector :--vs-link-variant-visited :visited;
@custom-selector :--vs-spinner-variant-size-small [data-v-size="small"];
@custom-selector :--vs-spinner-variant-size-medium [data-v-size="medium"];
@custom-selector :--vs-spinner-variant-size-large [data-v-size="large"];
@custom-selector :--vs-spinner-variant-is-delayed [data-delayed];