@custom-selector :--vs-container :root;
@custom-selector :--vs-condition-theme-light [data-theme="light"];
@custom-selector :--vs-condition-theme-dark [data-theme="dark"];
@custom-selector :--vs-condition-contrast-default [data-contrast="default"];
@custom-selector :--vs-condition-contrast-medium [data-contrast="medium"];
@custom-selector :--vs-condition-contrast-high [data-contrast="high"];
@custom-selector :--vs-condition-motion-scheme-expressive [data-motion-scheme="expressive"];
@custom-selector :--vs-condition-motion-scheme-standard [data-motion-scheme="standard"];
@custom-selector :--vs-condition-motion-scheme-reduced [data-motion-scheme="reduced"];
@custom-selector :--vs-variant-hover :hover, [data-hovered="true"];
@custom-selector :--vs-variant-pressed :active, [data-pressed="true"];
@custom-selector :--vs-variant-focus :focus, [data-focused="true"];
@custom-selector :--vs-variant-focus-within :focus-within;
@custom-selector :--vs-variant-focus-visible :focus-visible:not([data-focused="true"]), [data-focus-visible="true"];
@custom-selector :--vs-variant-selected [data-selected="true"], [aria-selected="true"];
@custom-selector :--vs-variant-enabled :not(:disabled, [disabled], [data-disabled="true"]);
@custom-selector :--vs-variant-disabled :disabled, [disabled], [data-disabled="true"];
@custom-selector :--vs-variant-pending [data-pending="true"];
@custom-selector :--vs-variant-non-pending :not([data-pending="true"]);
@custom-selector :--vs-variant-input-valid :user-valid;
@custom-selector :--vs-variant-input-invalid :user-invalid, [data-invalid="true"], [aria-invalid="true"];
@custom-selector :--vs-variant-read-only [readonly], [data-readonly="true"], [aria-readonly="true"];
@custom-selector :--vs-variant-editable :not([readonly], [data-readonly="true"], [aria-readonly="true"]);
@custom-selector :--vs-variant-inert [inert], [data-inert="true"];
@custom-selector :--vs-variant-horizontal [data-orientation="horizontal"];
@custom-selector :--vs-variant-vertical [data-orientation="vertical"];
@custom-selector :--vs-button-variant-color-elevated [data-color="elevated"];
@custom-selector :--vs-button-variant-color-filled [data-color="filled"];
@custom-selector :--vs-button-variant-color-tonal [data-color="tonal"];
@custom-selector :--vs-button-variant-color-outlined [data-color="outlined"];
@custom-selector :--vs-button-variant-color-text [data-color="text"];
@custom-selector :--vs-button-variant-size-xsmall [data-size="xsmall"];
@custom-selector :--vs-button-variant-size-small [data-size="small"];
@custom-selector :--vs-button-variant-size-medium [data-size="medium"];
@custom-selector :--vs-button-variant-size-large [data-size="large"];
@custom-selector :--vs-button-variant-size-xlarge [data-size="xlarge"];
@custom-selector :--vs-button-variant-shape-round [data-shape="round"];
@custom-selector :--vs-button-variant-shape-square [data-shape="square"];
@custom-selector :--vs-button-variant-is-pending [data-pending="true"];
@custom-selector :--vs-button-variant-is-pending-false :not([data-pending="true"]);
@custom-selector :--vs-button-variant-is-disabled :disabled, [disabled], [data-disabled="true"];
@custom-selector :--vs-button-variant-is-disabled-false :not(:disabled, [disabled], [data-disabled="true"]);
@custom-selector :--vs-button-variant-hover :hover, [data-hovered="true"];
@custom-selector :--vs-button-variant-pressed :active, [data-pressed="true"];
@custom-selector :--vs-button-variant-focus :focus, [data-focused="true"];
@custom-selector :--vs-button-variant-focus-visible :focus-visible:not([data-focused="true"]), [data-focus-visible="true"];
@custom-selector :--vs-link-variant-color-primary [data-color="primary"];
@custom-selector :--vs-link-variant-color-tertiary [data-color="tertiary"];
@custom-selector :--vs-link-variant-is-disabled :disabled, [disabled], [data-disabled="true"];
@custom-selector :--vs-link-variant-hover :hover, [data-hovered="true"];
@custom-selector :--vs-link-variant-pressed :active, [data-pressed="true"];
@custom-selector :--vs-link-variant-focus :focus, [data-focused="true"];
@custom-selector :--vs-link-variant-focus-visible :focus-visible:not([data-focused="true"]), [data-focus-visible="true"];
@custom-selector :--vs-link-variant-visited :visited;
@custom-selector :--vs-spinner-variant-is-delayed [data-delayed="true"];