@theme inline reference {
  --radius-*: initial;
  --ease-*: initial;
  --color-*: initial;
  --shadow-*: initial;
  --font-*: initial;
  --font-weight-*: initial;
  --radius-none: 0px;
  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-large-increased: 20px;
  --radius-extra-large: 28px;
  --radius-extra-large-increased: 32px;
  --radius-extra-extra-large: 48px;
  --radius-full: 9999px;
  --radius-corner-full: 9999px;
  --radius-corner-extra-extra-large: 48px;
  --radius-corner-extra-large-increased: 32px;
  --radius-corner-extra-large: 28px;
  --radius-corner-extra-large-top: 28px 28px 0px 0px;
  --radius-corner-large-increased: 20px;
  --radius-corner-large: 16px;
  --radius-corner-large-top: 16px 16px 0px 0px;
  --radius-corner-large-start: 16px 0px 0px 16px;
  --radius-corner-large-end: 0 16px 16px 0px;
  --radius-corner-medium: 12px;
  --radius-corner-small: 8px;
  --radius-corner-extra-small: 4px;
  --radius-corner-extra-small-top: 4px 4px 0px 0px;
  --radius-corner-no: 0px;
  --ease-spring-slow-spatial-expressive: cubic-bezier(0.39, 1.29, 0.35, 0.98);
  --ease-spring-slow-spatial-standard: cubic-bezier(0.27, 1.06, 0.18, 1);
  --ease-spring-slow-spatial-auto: var(--vs-timing-function-spring-slow-spatial-auto);
  --ease-spring-slow-effects-expressive: cubic-bezier(0.34, 0.88, 0.34, 1);
  --ease-spring-slow-effects-standard: cubic-bezier(0.34, 0.88, 0.34, 1);
  --ease-spring-slow-effects-auto: var(--vs-timing-function-spring-slow-effects-auto);
  --ease-spring-default-spatial-expressive: cubic-bezier(0.38, 1.21, 0.22, 1);
  --ease-spring-default-spatial-standard: cubic-bezier(0.27, 1.06, 0.18, 1);
  --ease-spring-default-spatial-auto: var(--vs-timing-function-spring-default-spatial-auto);
  --ease-spring-default-effects-expressive: cubic-bezier(0.34, 0.8, 0.34, 1);
  --ease-spring-default-effects-standard: cubic-bezier(0.34, 0.8, 0.34, 1);
  --ease-spring-default-effects-auto: var(--vs-timing-function-spring-default-effects-auto);
  --ease-spring-fast-spatial-expressive: cubic-bezier(0.42, 1.67, 0.21, 0.9);
  --ease-spring-fast-spatial-standard: cubic-bezier(0.27, 1.06, 0.18, 1);
  --ease-spring-fast-spatial-auto: var(--vs-timing-function-spring-fast-spatial-auto);
  --ease-spring-fast-effects-expressive: cubic-bezier(0.31, 0.94, 0.34, 1);
  --ease-spring-fast-effects-standard: cubic-bezier(0.31, 0.94, 0.34, 1);
  --ease-spring-fast-effects-auto: var(--vs-timing-function-spring-fast-effects-auto);
  --ease-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --ease-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --ease-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --ease-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --ease-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --ease-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --ease-easing-linear: cubic-bezier(0, 0, 1, 1);
  --transition-duration-none: 0ms;
  --transition-duration-spring-slow-spatial-expressive: 650ms;
  --transition-duration-spring-slow-spatial-standard: 750ms;
  --transition-duration-spring-slow-spatial-auto: var(--vs-duration-spring-slow-spatial-auto);
  --transition-duration-spring-slow-effects-expressive: 300ms;
  --transition-duration-spring-slow-effects-standard: 300ms;
  --transition-duration-spring-slow-effects-auto: var(--vs-duration-spring-slow-effects-auto);
  --transition-duration-spring-default-spatial-expressive: 500ms;
  --transition-duration-spring-default-spatial-standard: 500ms;
  --transition-duration-spring-default-spatial-auto: var(--vs-duration-spring-default-spatial-auto);
  --transition-duration-spring-default-effects-expressive: 200ms;
  --transition-duration-spring-default-effects-standard: 200ms;
  --transition-duration-spring-default-effects-auto: var(--vs-duration-spring-default-effects-auto);
  --transition-duration-spring-fast-spatial-expressive: 350ms;
  --transition-duration-spring-fast-spatial-standard: 350ms;
  --transition-duration-spring-fast-spatial-auto: var(--vs-duration-spring-fast-spatial-auto);
  --transition-duration-spring-fast-effects-expressive: 150ms;
  --transition-duration-spring-fast-effects-standard: 150ms;
  --transition-duration-spring-fast-effects-auto: var(--vs-duration-spring-fast-effects-auto);
  --transition-duration-easing-short-1: 50ms;
  --transition-duration-easing-short-2: 100ms;
  --transition-duration-easing-short-3: 150ms;
  --transition-duration-easing-short-4: 200ms;
  --transition-duration-easing-medium-1: 250ms;
  --transition-duration-easing-medium-2: 300ms;
  --transition-duration-easing-medium-3: 350ms;
  --transition-duration-easing-medium-4: 400ms;
  --transition-duration-easing-long-1: 450ms;
  --transition-duration-easing-long-2: 500ms;
  --transition-duration-easing-long-3: 550ms;
  --transition-duration-easing-long-4: 600ms;
  --transition-duration-easing-extra-long-1: 700ms;
  --transition-duration-easing-extra-long-2: 800ms;
  --transition-duration-easing-extra-long-3: 900ms;
  --transition-duration-easing-extra-long-4: 1000ms;
  --color-primary: var(--vs-color-primary);
  --color-on-primary: var(--vs-color-on-primary);
  --color-primary-container: var(--vs-color-primary-container);
  --color-on-primary-container: var(--vs-color-on-primary-container);
  --color-secondary: var(--vs-color-secondary);
  --color-on-secondary: var(--vs-color-on-secondary);
  --color-secondary-container: var(--vs-color-secondary-container);
  --color-on-secondary-container: var(--vs-color-on-secondary-container);
  --color-tertiary: var(--vs-color-tertiary);
  --color-on-tertiary: var(--vs-color-on-tertiary);
  --color-tertiary-container: var(--vs-color-tertiary-container);
  --color-on-tertiary-container: var(--vs-color-on-tertiary-container);
  --color-error: var(--vs-color-error);
  --color-on-error: var(--vs-color-on-error);
  --color-error-container: var(--vs-color-error-container);
  --color-on-error-container: var(--vs-color-on-error-container);
  --color-surface: var(--vs-color-surface);
  --color-on-surface: var(--vs-color-on-surface);
  --color-surface-variant: var(--vs-color-surface-variant);
  --color-on-surface-variant: var(--vs-color-on-surface-variant);
  --color-surface-container-highest: var(--vs-color-surface-container-highest);
  --color-surface-container-high: var(--vs-color-surface-container-high);
  --color-surface-container: var(--vs-color-surface-container);
  --color-surface-container-low: var(--vs-color-surface-container-low);
  --color-surface-container-lowest: var(--vs-color-surface-container-lowest);
  --color-inverse-surface: var(--vs-color-inverse-surface);
  --color-inverse-on-surface: var(--vs-color-inverse-on-surface);
  --color-surface-tint: var(--vs-color-surface-tint);
  --color-surface-tint-color: var(--vs-color-surface-tint-color);
  --color-outline: var(--vs-color-outline);
  --color-outline-variant: var(--vs-color-outline-variant);
  --color-primary-fixed: var(--vs-color-primary-fixed);
  --color-on-primary-fixed: var(--vs-color-on-primary-fixed);
  --color-primary-fixed-dim: var(--vs-color-primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--vs-color-on-primary-fixed-variant);
  --color-inverse-primary: var(--vs-color-inverse-primary);
  --color-secondary-fixed: var(--vs-color-secondary-fixed);
  --color-on-secondary-fixed: var(--vs-color-on-secondary-fixed);
  --color-secondary-fixed-dim: var(--vs-color-secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--vs-color-on-secondary-fixed-variant);
  --color-tertiary-fixed: var(--vs-color-tertiary-fixed);
  --color-on-tertiary-fixed: var(--vs-color-on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--vs-color-tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--vs-color-on-tertiary-fixed-variant);
  --color-background: var(--vs-color-background);
  --color-on-background: var(--vs-color-on-background);
  --color-surface-bright: var(--vs-color-surface-bright);
  --color-surface-dim: var(--vs-color-surface-dim);
  --color-scrim: #000000;
  --color-shadow: #000000;
  --shadow-elevation-0: 0px 0px 0px 0px rgb(0 0 0 / 0.3), 0px 0px 0px 0px rgb(0 0 0 / 0.15);
  --shadow-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 0.3), 0px 1px 3px 1px rgb(0 0 0 / 0.15);
  --shadow-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 0.3), 0px 2px 6px 2px rgb(0 0 0 / 0.15);
  --shadow-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 0.3), 0px 4px 8px 3px rgb(0 0 0 / 0.15);
  --shadow-elevation-4: 0px 2px 3px 0px rgb(0 0 0 / 0.3), 0px 6px 10px 4px rgb(0 0 0 / 0.15);
  --shadow-elevation-5: 0px 4px 4px 0px rgb(0 0 0 / 0.3), 0px 8px 12px 6px rgb(0 0 0 / 0.15);
  --font-sans: "Roboto Flex Variable", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Roboto Serif Variable", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Roboto Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-brand: var(--vs-font-family-sans);
  --font-plain: var(--vs-font-family-sans);
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-900: 900;
}
